[2014-09-29 00:31] mascot6699 opened #1 "Not able to run on my terminal!"
Does it supports windows command prompt ?
If yes then what should I set as output encoding ?
I am getting the following error when i ran print emojize("emoji is :thumbsup: ")
UnicodeEncodeError: 'charmap' codec can't encode characters in position 9-10: character maps to <undefined>

its is parsing <semicolon>thumbsup<semicolon> in github so adding a clip too

![image](https://cloud.githubuserconte

[2014-10-22 20:28] jak645 opened #2 "Windows Version"
Mmmm i try to install this on python for windows but noting work do you have tutorial or other code

[2015-04-17 03:23] #1 closed

[2015-04-17 03:43] carpedm20 commented on #2
#3 (version 0.2.0) doesn't fix the problem on windows yet.

[2015-04-21 16:52] luckydonald opened #5 "Upgrade fails on mac, python 3.4.2"
Executed command: ```pip install -U emoji```
Error occurred: ```UnicodeDecodeError: 'ascii' codec can't decode byte 0xf0 in position 738: ordinal not in range(128)```

Update in the PYCharm IDE, maybe a invisible character, like this [issue](https://github.com/ZeevG/python-forecast.io/issues/27#issuecomment-77377042) had? But It could just be PyCharm related instead.

[code]

[2015-04-21 17:09] carpedm20 commented on #5
Hmm.. I don't have such problem during installation and I used just a terminal not PyCharm.

	pip install -U emoji
	Downloading/unpacking emoji
	  Downloading emoji-0.2.tar.gz
	  Running setup.py (path:/private/tmp/pip_build_root/emoji/setup.py) egg_info for package emoji

	Installing collected packages: emoji
	  Running setup.py install for emoji

	Successfully installed emoji
	Cleaning up...

[2015-04-21 17:14] geowurster commented on #5
I tried to re-create the issue as well without success.  I do know from past experiences that PyCharm sets encoding related environment variables to different values than the terminal.  I declared the encoding in `setup.py` so can you try doing:

`pip install git+https://github.com/geowurster/emoji`

[2015-04-22 12:56] luckydonald commented on #5
I can confirm, using the same command as PyCharm, but inside the virtualenv in the terminal, it does install without any problems.

[2015-04-22 13:05] geowurster commented on #5
The original command or the one I pasted above?  The command above includes a patch I think might fix the problem.

[2015-04-22 13:34] luckydonald commented on #5
The original one.
Also i looked a bit into it. It is failing at [setup.py:16](https://github.com/carpedm20/emoji/blob/master/setup.py#L16)
[code]
The README file (probably UTF-8?) contains non-ascii characters, some emojis.
The are not ascii, so this might be the cause of the error:
[code]
Like described in [this fantastic document](http://nbviewer.ipython.org/github/gmonce/datascience/blob/master

[2015-04-22 13:44] geowurster commented on #5
Yes, you are correct - it is an encoding issue in the `setup.py`.  I already declared the encoding with `# -*- coding: UTF-8 -*-` and pushed to my fork.  Please test it before I submit a pull request.

`pip install -U git+https://github.com/geowurster/emoji`

[2015-05-01 16:07] geowurster commented on #5
@luckydonald any luck?

[2015-05-05 02:23] luckydonald commented on #5
Thing is: I can't execute that link in my IDE, and my normal terminal did not even cough the first time.

[2015-05-05 13:55] geowurster commented on #5
Hmmm.  @carpedm20 declared the encoding in the `setup.py` and pushed a new release to PyPi so try just `pip install emoji --upgrade`.  If that doesn't work I have a set of debug commands to run so I can understand more about your environment and hopefully figure out what's going on.

[2015-05-15 04:26] geowurster opened #8 "Give user a better option to enable emoji aliases"
[GitHub and others](http://www.emoji-cheat-sheet.com) support a bunch of emoji aliases that are not officially part of the unicode set.  Many of the aliases are easier to remember than their official counter-parts but they are only supported by some platforms and really should be considered specific to this library because different platforms might have different aliases that point to different co

[2015-05-15 04:35] geowurster opened #9 "Docstring formatting"
@carpedm20 do you have a preference for docstring formatting - looks like you're using RST?  Can you link me to a guide?

[2015-05-15 05:06] geowurster opened #10 "emoji.decode() is fundamentally broken, not needed, and should be removed."
@carpedm20 having `emoji.EMOJI_UNICODE` gives us an easy way to look up unicode codes by emoji and `emoji.UNICODE_EMOJI` gives us an easy way to look up emoji names by unicode codes, but multiple aliases point to the same unicode code so we can't do reverse alias lookups.  See the sample code below.  About 400 aliases are dropped.

`emoji.decode()` really isn't that useful and I vote we just remov

[2015-05-15 05:10] geowurster opened #11 "Release v0.3.4"
- [x] Merge #7.
- [x] Close out https://github.com/carpedm20/emoji/milestones/v0.3.4.
- [x] Update changelog with mention of aliases and restoration of default functionality.
- [x] Make sure aliases are properly documented after the recent changes.
- [x] Create a `v0.3-maint` branch as a safety measure and keep it in git.
- [ ] Tag a release in GitHub.
- [x] Upload to PyPi.

[2015-05-15 05:17] geowurster opened #12 "Duplicate aliases"
@carpedm20 the following aliases appear multiple time in `emoji.EMOJI_ALIAS_UNICODE`, which means that the last one encountered will be included in the one present in the dictionary and the rest will be thrown away.  Could you pick one for each and update the dictionary?

[code]

[2015-05-17 05:19] carpedm20 commented on #9
I've never read the formal doc string format but I've read other codes and follow their rule.
I usually read this code https://github.com/kennethreitz/requests/blob/master/requests/sessions.py#L386

Since now I followed sphinx syntax rule, which can be found here : https://pythonhosted.org/an_example_pypi_project/sphinx.html#function-definitions
This format is useful when we consider to make a htm

[2015-05-17 05:21] #8 closed

[2015-05-17 05:35] carpedm20 commented on #10
No objection. Just remove it.

[2015-05-17 05:38] #12 closed

[2015-05-17 05:47] geowurster commented on #9
Thanks, I'll use that.

[2015-05-17 05:47] #9 closed

[2015-05-18 22:54] geowurster commented on #11
@carpedm20 unless you have anything else to add I vote we release after #13.

[2015-05-19 03:39] #11 closed

[2015-05-19 13:12] geowurster commented on #11
Just installed the update and everything works again.  Success!

[2015-05-19 15:31] carpedm20 commented on #11
Great! :smile:

[2015-06-05 11:59] errror commented on #10
Sorry, but I do not understand, why decode() is not useful. I use it in my code to generate readable codes from UTF8 emojis. How should I do this now? Directly accessing your internal data structures seems not the best idea to me.

[2015-06-05 12:23] geowurster commented on #10
@errror the problem lies in the aliases.  Multiple aliases use the same UTF code so the name returned by `decode()` in those cases is somewhat arbitrary.  We could limit `decode()` to just be the official unicode codes but could lead to some confusion.  I suppose just letting the returned name be arbitrary for the aliases isn't a huge deal, and we could add a `use_aliases` option to turn them on a

[2015-06-05 12:28] errror commented on #10
@geowurster I can live much better with a function, picking *one* of the possible representations instead of none at all. Reading UTF8 emojis in the debug output is much harder.

[2015-06-23 23:30] geowurster commented on #10
@errror so would the most useful implementation be the inverse of `emojize()`, which takes a string that may contain UTF emoji codes and replaces them with the corresponding `:emoji:` name?

[2015-06-29 08:41] errror commented on #10
@geowurster Yes, that's what I need in my code.

[2015-06-30 07:12] mxxcon commented on #5
I might have similar problem with PyCharm PE on Windows 8.1.
When it tries to install this package using `pip install -U emoji`, it errors like this:
[code]

[2015-06-30 14:34] geowurster commented on #5
@mxxcon ah yeah we set the encoding in the `setup.py` file but that doesn't matter because the characters are coming from an external file.  I switched to using `codecs.open(encoding='UTF-8')` - could you try installing from the [`upgrade-packaging`](https://github.com/carpedm20/emoji/tree/update-packaging) branch?  I think the command is:

[code]

Sometimes `pip` gets confused so I tacked an expl

[2015-06-30 14:50] geowurster commented on #5
[Travis](https://travis-ci.org/carpedm20/emoji/builds/68984818) doesn't like this change but I'm using 3.4 and it worked on my machine.  Give it a shot anyway.  I'll take a closer look later tonight.

[2015-06-30 18:24] luckydonald commented on #5
At an different spot, https://travis-ci.org/carpedm20/emoji/jobs/68984820#L249
[code]

[2015-07-03 17:59] matteocontrini commented on #2
Isn't this solved yet? :)

[2015-07-06 03:55] geowurster commented on #2
@matteocontrini can you send the error you get on Windows?  I don't think either one of us regularly use Windows.

[2015-07-06 04:00] geowurster opened #14 "Re-implement emoji.decode() in a more useful way"
See second half of discussion in #10.

[2015-07-06 04:00] geowurster commented on #14
@errror do you want to give this a go and submit a PR?

[2015-07-06 04:01] geowurster commented on #10
Closing in favor of #14 for re-implementation.

[2015-07-06 04:01] #10 closed

[2015-07-06 04:06] geowurster commented on #5
@mxxcon and @luckydonald can you both try this the command below.  I wonder if this encoding issue is causing the problem in #2.

[code]

Sometimes pip gets confused so I tacked an explicit uninstall command on the front and forced it to download with --no-cache. Verify that it installed `v0.3.5` with:

[code]

[2015-07-06 04:40] mxxcon commented on #5
@geowurster `@update-packaging` seems to worked.
[code]

[2015-07-06 13:54] geowurster commented on #2
@matteocontrini could you also try this:

[code]

Sometimes pip gets confused so I tacked an explicit uninstall command on the front and forced it to download with --no-cache. Verify that it installed `v0.3.5` with:

[code]

[2015-07-06 15:15] nh-99 commented on #2
Windows error:
[code]

[2015-07-06 15:19] geowurster commented on #2
@nh-99 is that just with `pip install emoji` or from the branch outlined above?

[2015-07-06 22:52] nh-99 commented on #2
That is with a pip install emoji.

[2015-07-06 22:52] nh-99 commented on #2
Okay tested with the command above, worked perfectly

[2015-07-07 01:14] geowurster opened #16 "Release v0.3.5"
@carpedm20 I think this packaging issue might be affecting a lot of people so unless you have anything else to add I vote we do this as a patch and then do #14 (and anything else that pops up before it is implemented) in the next release.

- [x] Update changelog
- [x] Pull onto `v0.3-maint` branch
- [x] Tag a release in GitHub
- [x] Push to PyPi

[2015-07-07 01:18] #2 closed

[2015-07-07 01:18] #5 closed

[2015-07-07 01:19] geowurster commented on #5
@luckydonald FYI looks like you were right about specifying the encoding when opening the file.

[2015-07-07 01:22] carpedm20 commented on #16
I don't fully understand the meaning of `Pull onto v0.3-maint branch`. Can you explain about this in more detail?

[2015-07-07 01:36] geowurster commented on #16
Sure.  If we keep a copy of `v0.3` on the `v0.3-maint` branch that matches what's in PyPi, then as we continue to develop for the next version we can quickly release a patch for `v0.3` if needed.

In git terms:

[code]

There are a [few different ways](http://stackoverflow.com/questions/5613902/how-to-pull-from-a-local-branch-into-another-one) to pull master onto the maintenance branch but apparen

[2015-07-07 04:26] carpedm20 commented on #16
Thank you for your detailed description :+1:

[2015-07-07 04:27] #16 closed

[2015-07-23 18:10] BrendanAdkins commented on #14
Pull request sent.

[2015-08-05 10:05] mbande commented on #14
much needed

[2015-08-05 11:53] mbande opened #18 "emoji unicode set"
does this package contain all of [emoji-data v1.0](http://unicode.org/Public/emoji/1.0/emoji-data.txt)

[2015-08-29 12:27] tgwizard opened #20 "The dataset in unicodes_code.py contains helm_symbol not in the Unicode standard"
In an attempt to answer #18, I compared the contents in the `EMOJI_UNICODE` dict with that in http://www.unicode.org/emoji/charts/full-emoji-list.html (by using `utils/get-codes-from-unicode-consortium.py`). It seems that all characters are present, but there is one extra character: `:helm_symbol:`. More info about that character here: http://www.fileformat.info/info/unicode/char/2388/index.htm

W

[2015-08-29 12:28] tgwizard commented on #18
Hi @mbande. I just did a check, and all emojis in http://unicode.org/Public/emoji/1.0/emoji-data.txt are contained in this package. One extra character is there as well, as described in #20.

[2015-08-29 14:41] geowurster opened #22 "Don't import * in __init__"
_Blocked until #19 is merged_

`core.py` does not implement an `__all__` but this package is small enough that we should probably just explicitly import what we need to the top level.

[2015-08-29 15:11] geowurster opened #23 "Add note to readme about current utils being for development purposes only"
_Blocked until #19 is merged_

[2015-08-29 15:33] geowurster commented on #20
@tgwizard Good catch.  If its not an emoji then it should probably be removed.  I'm not sure how it was originally included - maybe it was listed on that page when I scraped it several months ago?  In `unicode_codes.py` I'm seeing `:wheel_of_dharma:` as `2368` and `:helm_symbol:` as `2388`:

[code]

Looks like `:wheel_of_dharma:` is in the page referenced by #18 as `2638`, so it should probably st

[2015-08-29 15:49] tgwizard commented on #20
Ah, yes, that seems to be it.

[2015-08-29 15:52] tgwizard commented on #20
I can submit a PR removing the helm symbol, and updating the README to say which unicode symbols are included. @geowurster what do you think?

[2015-08-29 16:10] geowurster commented on #20
@tgwizard I'm :+1: @carpedm20 does this sound right?

There's already a note in the readme about which codes are included, but if you didn't see it or if it wasn't clear enough then it probably does need to be updated.  If you're thinking about adding the full table to the readme, I don't think we need that.  Adding more docs will close out #18.

[2015-08-29 16:50] tgwizard commented on #20
Ah, yes, I didn't see that note, but I think it is clear enough as is.

[2015-08-30 16:06] tgwizard opened #25 "Use https://github.com/iamcal/emoji-data as source for short names"
I think we should use https://github.com/iamcal/emoji-data as the source of the emoji data. This will add support for several older code-points (pre the now-standard Unicode format), and it will also make sure that the shortnames (`:smile:`) are the same as what other vendors use.

It will also add support for `:skin-tone-2:` and so on, which are now incorrectly called `:emoji_modifier_fitzpatrick

[2015-09-26 17:34] coverback commented on #25
@tgwizard I'd love to see this change to use in my project. If you have such a code already, would you mind sharing it, even in a fork? Otherwise I'm gonna have to implement the same change as you were suggesting.

[2015-09-26 17:43] coverback commented on #25
Hm, just figured that `use_aliases=True` uses the IDs I wanted, so I'm good.

[2015-10-03 08:21] iho opened #26 "Markdown"
Hi

I am sorry but I have stupid question. How to use it on website? It is possible use it with Markdown2 python module?

[2015-10-07 03:21] shenwei356 opened #27 "square output?"
Fail to show in my terminal (utf8), and was `:smile:` not supported :cry: ?

[code]

[2015-10-07 03:50] carpedm20 commented on #27
You should use :

    print(emoji.emojize('Python is :smile:',True))

[2015-10-07 04:00] shenwei356 commented on #27
@carpedm20 I see, `:smile:` must be an alisase.

For the square, I install a font `gdouros-symbola-fonts` that suppose to enable emoji in terminal, but it still do not work.

[2015-10-07 04:09] shenwei356 commented on #27
It works after reboot~ Thanks all

[2015-10-07 04:09] #27 closed

[2015-10-21 05:43] qingfeng opened #28 "Symbols not render"
example `:one:` :one:

[2015-11-09 12:08] mjwillson opened #29 "National flag emojis should not contain space character"
So all the national flag emoji character combinations in your regexp and lookup tables, contain a space  in between the two "regional indicator" letters. This means they won't actually match the national flag sequences:

[code]

[2015-11-09 13:04] mjwillson opened #30 "Regexp is slow -- could use codepoint ranges for consecutive emojis"
Currently the regexp is quite slow, likely due to it containing a separate union term for each emoji. A lot of the emojis are consecutive codepoints, and some like the national flag emojis could be specified concisely as `[\U0001F1E6-\U0001F1FF]{2}`

[2015-11-10 13:25] tbartelmess commented on #29
I've created a pull request for a fix #31

[2015-11-10 13:32] #29 closed

[2015-11-10 13:32] carpedm20 commented on #29
Thanks @tbartelmess

[2015-12-08 23:49] The-Penultimate-Defenestrator opened #34 "Work backwards: \U0001f382 to :birthday:"
Is it possible for this library to work backwards? Example:

`u"\U0001F382"` would change to :birthday:

[2015-12-08 23:55] geowurster commented on #34
@The-Penultimate-Defenestrator Yep, it already does that:

[code]

Is that not what you had in mind?

[2015-12-09 00:07] The-Penultimate-Defenestrator commented on #34
Yes, I wasn't aware it works both ways, and it wasn't in the README. Thanks.

[2015-12-09 01:53] geowurster commented on #34
@The-Penultimate-Defenestrator Now that I look at this gain, I led you somewhat astray.  This works, but the `emoji` library isn't actually doing anything - your computer is rendering the unicode code as an emoji icon.  All `emoji.emojize()` does is translate `:emoji:` strings to unicode codes, but in this case the string already contains a unicode code.

For instance:

[code]

[code]

[2015-12-09 12:03] The-Penultimate-Defenestrator commented on #34
Right. I already have a Unicode string. I need to convert the Unicode string to the emoji code because I am using it with the Discord APi

[2015-12-09 15:09] geowurster commented on #34
@The-Penultimate-Defenestrator Ah I get it - I was confused by the actual icon in the ticket header.  If you wrap the text in backticks, like `:birthday:`, then GitHub won't render the string as an icon.

Yes, this is supported:

[code]

One note is that the `:birthday:` emoji is actually an alias for `:birthday_cake:`.  You can do `emoji.emojize(":birthday_cake:")` OR `emoji.emojize(":birthday:",

[2015-12-09 19:46] The-Penultimate-Defenestrator commented on #34
Thanks. Demojize is what I was looking for.

[2015-12-09 19:46] #34 closed

[2015-12-31 01:33] geowurster commented on #28
@qingfeng Looks like `:one:` is GitHub specific.  If you check out [`emoji/unicode_codes.py`](https://github.com/carpedm20/emoji/blob/master/emoji/unicode_codes.py) it's not actually an official emoji, however `:keycap_digit_one:` is.  If you would like `:one:` and other numbers to be available as aliases, please consider reopening this issue and submitting a PR.

[2015-12-31 01:33] #28 closed

[2015-12-31 01:36] geowurster commented on #26
@iho You would have to incorporate it into a server-side rendering library to use on a website - maybe you could pass markdown content through `emoji.emojize()` before passing to the client?

[2015-12-31 01:36] #26 closed

[2015-12-31 22:40] #22 closed

[2015-12-31 22:40] #23 closed

[2016-02-14 14:16] mbande opened #37 "add use_aliases parameter to demojize"
as aliases are usually shorter, in many cases they are preferred for emojize/demojize

[2016-02-26 13:26] TracyDa opened #39 "cannot display emoji on linux"
just display the unicode  like u5408
but some emoji works

[2016-02-26 15:09] geowurster commented on #39
@TracyDa This library only does the conversions from emoji `:name:` to unicode code, so linux can't display all of them because it doesn't icons for all of them.

For instance, my Mac doesn't have an icon for `:satellite:`

[code]

But GitHub does: :satellite:

And Slack does too

![slack_and_cannot_display_emoji_on_linux_ _issue__39_ _carpedm20_emoji_and_kwurster_ _kwurster_parsecomm-w-0____ _pyt

[2016-02-26 15:09] #39 closed

[2016-02-28 14:08] a3dho3yn commented on #37
:+1:

[2016-03-02 13:54] a3dho3yn commented on #37
it may implemented as prefer_aliases which means when there is an alias, alias preferred to main string. but it just work till there is (at most) only on alias for each emoji.

[2016-03-31 21:12] kcsaff opened #40 "Add emoji "annotations""
The annotations on the page you scrape would be useful for a program that wants to classify emoji, as well as for bots that might want to, for example, choose a random "grin" face to spice up their text.

[2016-04-01 00:11] kcsaff commented on #40
I've created a (different) library that makes the annotations accessible at https://github.com/kcsaff/emojitations
These are easily parsed from Unicode's XML: http://unicode.org/repos/cldr/tags/latest/common/annotations/en.xml

[2016-05-28 23:24] ahtutejlo opened #42 "Some flags are absent"
I didn't find these flags ':flag_for_Northern_Ireland:', ':flag_for_Wales:' and ':flag_for_England:'.
Is it possible to add them?

[2016-08-02 07:20] csaftoiu opened #43 "Some alias typos"
Some aliases, like :upside-down_face:, should be :upside_down_face: (hyphen turned to underscore). I observed this bug when exporting Slack messages and emojifying them.

The following hack fixed it for now, though it may override some legit aliases:

[code]

[2016-08-11 04:07] caoyunxuan07 opened #44 "convert back to a '\uxxx'"
[code]
how can i make the '\u2665' code just convert to '♥'

[2016-09-18 09:48] math2001 opened #45 "get nothing or exception"
Hi!

I just tried this plugin all I get is nothing or an exception

[code]

Does anyone have an idea where it could be coming from?

I'm using python **2** on window 8

Mathieu

[2016-11-16 09:16] liormagen opened #46 "I'm getting many question marks"
I think that some of the emojis I try to convert using the emoji library are being converted to question marks.

Any chance it happens as a result of the emojis that comes with iOS 10 maybe?

[2016-11-24 09:58] suibaf commented on #45
Same problem!

[2016-12-03 21:32] BaReinhard opened #47 ":gift: emoji only prints :gift:"
as the title says, gift doesnt print :gift:

[2016-12-03 21:39] bar1792 commented on #47
Ok , I used it incorrectly.
':gift:' requires the second parameter, use_aliases=True
while something like
':christmas_tree:' does not

[2017-01-04 19:44] Monster-king opened #48 ":hash: was printing only :hash: not emoji"
I try these methods:
emoji.emojize("Настройки :hash:", use_aliases=True)
emoji.emojize("Настройки :hash:")
in each case result is same

[2017-01-27 16:15] koliber opened #49 "package name conflict on PyPI"
This package installs into a top-level `emoji`. This conflicts with the top-level of an older project named `django-emoji`.

It is impossible to use both packages within a single project.

To import from this package, you need to import from `emoji`.

This conflicts with an older project called [`django-emoji`](https://pypi.python.org/pypi/django-emoji). To import from `django-emoji` you also need

[2017-02-01 15:49] Jackamma opened #51 ":one: alias doesn't work"
emojize(":one:") doesn't print the emoji. I found that the correct alias is ":keycap_digit_one:". Btw the emoji that appears is different from the Apple one. I found that the Apple emoji is composed by two character, the first one is the number and the second one is chr(8419), so for me the best solution was to substitute emojize(":one:") with "1"+chr(8419). This works also for other numbers (the

[2017-02-11 04:33] math2001 commented on #45
A half solution: http://stackoverflow.com/questions/4374455/how-to-set-sys-stdout-encoding-in-python-3

With this, you don't get any exception (on python 3 at least), but my windows prompt doesn't seem to handle those unicode properly... They work when I build in sublime text though...

[2017-02-16 23:07] EnforcerZhukov commented on #51
Hi, I'm working on a Telegram Bot and I want to include numbers from 0 to 10. 10 is the only number working. It has something to do with the alias. I managed to print 0~9 emojis using keycap_digit_zero, keycap_digit_one, and so on, as the name, and use_aliases=False. But on Telegram, they spawn ugly, they spawn like text and really buggy.

[2017-02-26 16:28] Vantuz commented on #18
It would also be useful if you added emojis from [3.0](http://unicode.org/Public/emoji/3.0/emoji-data.txt) standard

[2017-02-28 15:16] #47 closed

[2017-04-12 16:18] WitnessDlx opened #54 "the emoji didn't work...."
as you can see , i do it as example ,but didn't work
[code]
the Result is:
[code]

[2017-04-15 18:00] Maryom commented on #54
I faced same issue but the below worked with me, Did you try it?

`print(emoji.emojize('Python is :thumbsup:', use_aliases=True))`

[2017-04-15 18:04] Maryom opened #55 "emoji in table"
Hi,

Thanks for your repo. I need to use it with [terminaltables](https://pypi.python.org/pypi/terminaltables)

As you can see in the images below with emoji cut the table! even when I added more space. Any help?

<img width="73" alt="screen shot 2017-04-15 at 8 53 57 pm" src="https://cloud.githubusercontent.com/assets/3218401/25065823/da3f02ec-221e-11e7-92cb-78b42dbbe10e.png">
<img width="102" al

[2017-04-16 06:12] WitnessDlx commented on #54
yeah , I try .
[code]

can you solve this?

[2017-04-16 13:13] Maryom commented on #54
Sorry I don't know how to solve it.

[2017-05-03 18:50] NeelShah18 opened #56 "Creating new module which return location of the emoji and emoji dictonaries."
Hi, I  just create new enhancement for the this code. which allow user to detect index of the emoji so they can track or change it. even they can do analysis when emoji use in most of the sentences.

[2017-05-03 19:16] NeelShah18 commented on #56
How can I contribute?
I am interested to add new things.

[2017-05-23 21:34] luckydonald commented on #49
If the package is on pypi is called "emoji", I think the module can be called "emoji" as well.

I think "django-emoji" is in error here.

[2017-05-24 08:11] signupper commented on #49
@luckydonald your reasoning is sound.

PEP 423 says to [use the same package name as the project name](http://legacy.python.org/dev/peps/pep-0423/#use-a-single-name). However, it has a big note about the existence of many projects that violate this rule. It seems that there are many projects which have one name for the project and yet install into a package with a different name.

It's a tough cas

[2017-05-24 08:25] luckydonald commented on #49
Is it possible to install as two packages?
Thinking about backwards compatibility.
Many users will have `import emoji` in theire code.
So usually you can use `emoji`, but if you need `django-emoji` you would use

Both packages would install as `emoji`,
but the real `emoji` also as `emoji-emoji`,
and `django-emoji`also as `django-emoji`?

Which will be the `emoji` which get loaded if you install bo

[2017-05-24 10:16] signupper commented on #49
It is not possible to have both packages installed at once. Each project tries to install into an `emoji` directory inside of `site-packages`. If I recall correctly, the more recently installed one will overwrite the older one.

`pip` does not have a mechanism for overriding the destination package at install time.

Backwards compatibility is going to be an issue, as you've mentioned.

The options

[2017-05-26 19:24] vgel opened #58 "demojize() not correctly decoding flag emojis"
Noticed this problem while cleaning a twitter corpus:

    @MENTION: I've been wanting to post this since I saw the HT. :smiling_face_with_open_mouth_&_smiling_eyes: off to work I go. Good Morning 🇺🇸 Good Night 🇵🇭…

My code is calling `emoji.demojize(text)` with a `data['text']` directly from Twython. Not sure what's going on here -- am I doing something wrong?

Thanks!

[2017-05-26 23:25] luckydonald commented on #49
Maybe have a `emoji[django-emoji-compat]` version having a different install destination?
I mean it must be possible to rename that folder automatically, before installing.
[code]

[2017-05-30 10:46] signupper commented on #49
It is possible to rename the destination install folder.

I meant that it is not possible to tell pip, on the command line, to install to an alternate destination. This makes it hard to have both packages installed via a `requirements.pip` file.

[2017-06-14 00:29] sabrinaxo opened #59 "help"
i keep getting Invalid Syntax 'import emoji'

[2017-07-25 00:25] jcesarprog opened #63 "Getting black and white Emojis"
Here is my code.
`import emoji'

'print(emoji.emojize("Hello :earth_americas:", use_aliases=True))`

Here is the output.

![emoji black-white](https://user-images.githubusercontent.com/30150182/28550317-5eef65e6-70b6-11e7-9c57-edeed0ef7b91.png)

tried others but still got no colors on both windows or linux..still no colors..

[2017-07-30 19:34] ASMfreaK commented on #63
It has to do with your font setup in pycharm. Colorful emoji are not very good supported with software at the moment.

[2017-07-30 19:36] ASMfreaK opened #64 "MyPy typeshed stub file"
I've create a library stub for mypy static type checker. Here is the pull request for it: python/typeshed#1506
Can you please comment on this pull request on whether it could be merged from your point of view as the author and maintainer of the library?

[2017-08-07 05:11] ASMfreaK commented on #64
My PR was merged, thank you.

[2017-08-07 05:12] #64 closed

[2017-08-12 18:19] hostmaster opened #65 "regexp does not detect some emoji"
[code]
also 🚀 and 🔥 📧 and others

[2017-08-14 13:56] romainfrancois opened #66 "generation of EMOJI_ALIAS_UNICODE"
I guess it's more a question than an issue, how do you generate the mapping in `EMOJI_ALIAS_UNICODE` in [here](https://github.com/carpedm20/emoji/blob/master/emoji/unicode_codes.py#L2403)

Does this come from `github/gemoji`?

Asking to make progress on that issue: https://github.com/hadley/emo/issues/21

[2017-08-18 12:13] Togn3K opened #67 "outdated emoji list"
I wanted to print :first_place_medal: ( 🥇 ) emoji in my own telegram bot but emojis of unicode v6+ is not supported. Any help?

[2017-08-18 12:26] Togn3K commented on #67
sorry it was :1st_place_medal:
im so dumb

[2017-08-18 12:26] #67 closed

[2017-10-03 16:54] Xiretza opened #70 "Add missing GitHub releases"
latest (and only) release is 0.3.4, pypi is on 0.4.5

[2017-11-01 10:28] svleeuwen opened #72 "Release update to PyPI"
Especially this commit https://github.com/carpedm20/emoji/commit/b93de0dfb165c1de4051f6cd6b9ead174ab6c0e2 that's from June 2017 would be really helpful to have on the package index.

[2018-01-05 15:22] cvzi opened #73 "Example code in README.rst is faulty"
I tried the example and only the aliases are converted on my system.
[code]
This results in:
`Python is 👍 :thumbs_up_sign:`

I have a Windows machine, could this be the reason why it's not fully working?
I am using the pypi version 0.4.5

[2018-01-06 11:58] cvzi commented on #73
Everything actually works fine - the problem is just the example in the Readme. The `:thumbs_up_sign:` does not exist, the correct name of that emoji is `:thumbs_up:` as described in #68

[2018-01-19 09:58] Sieboldianus opened #75 "Ignore Fitzpatrick Modifiers and other Flags"
I want to extract all emojis from a long list of strings and then count the number of occurences of each emoji. The Emoji-module does a great job, but it extracts emojis with flags (which is what would be normally expected). Thus, distinct = set(list(emojis)) will treat same emojis with different flags/color differently. How can I ignore these modifiers?

This is my code:

[code]

I already tried:

[2018-03-14 11:26] Nomiluks opened #77 "Unable to detect flag emojis"
``import emoji

def emoji_lis(string):
    _entities = []
    for pos,c in enumerate(string):
        if c in emoji.UNICODE_EMOJI:
            print("Matched!!", c ,c.encode('ascii',"backslashreplace"))
            _entities.append({
                "location":pos,
                "emoji": c
                })
        else:
            print(c ,c.encode('ascii',"backslashreplace"))
    return _ent

[2018-03-19 05:51] bugface opened #78 "emoji note included in the dictionary"
The emoji listed below are not included in the current unicode_codes.py :

1. 🤬U0001F92C
2. 🤭U0001F92D

[2018-03-23 18:51] kittenswolf commented on #77
Flags consist of two emojis.

[2018-04-24 19:16] artbava commented on #63
Same issue here. There is nothing to do with Pycharm font setup, as my friend uses the same setup with no issues.

[2018-05-01 09:34] #73 closed

[2018-05-20 23:33] amw349 opened #80 "snowflake and other emojis not outputting correctly"
Snowflake, high voltage, and other emojis are outputting incorrectly:
![screen shot 2018-05-20 at 7 32 43 pm](https://user-images.githubusercontent.com/16947122/40285006-9fdde920-5c64-11e8-8ae8-d5e7cc8b2eb5.jpg)

[2018-06-25 07:23] niladridutt opened #81 "Add a method to get the names of all emojis in an indexed/serialized format"
I want to get the names of all emojis in an indexed way. This would be really helpful to build a Deep learning model to convert text to emoji. I had to do a work around to get this working.

[2018-06-26 13:43] dinel opened #82 "Error in documentation"
The documentation for demojize is not correct. The output of

`>>> print(emoji.demojize(u"Unicode is tricky 😯", delimiters=(" __", "__ ")))`

is

`Unicode is tricky  __hushed_face__ `

https://github.com/carpedm20/emoji/blob/2b7fa78bd59ee9c5aa55b21d3f3872d345dc09be/emoji/core.py#L67

[2018-07-01 16:46] krishnac7 opened #83 "module 'emoji' has no attribute 'emojize'"
The above error is popping up
![screen shot 2018-07-01 at 10 16 44 pm](https://user-images.githubusercontent.com/7543641/42136613-793e7fe4-7d7c-11e8-96f6-fda6c9e02bf0.png)

[2018-08-30 03:38] sevelee commented on #63
On Mac OS X emoji characters are rendered as colored images. On Windows and Linux emoji are rendered as monochrome characters. [https://blog.jetbrains.com/idea/2016/12/intellij-idea-2017-1-eap-is-open/](url)

[2018-09-05 20:09] walchko opened #84 "Not working correctly under Windows 10 with Python 3"
Under Windows 10, using python 3.7, the only emoji I have successfully gotten to work is the thumbs up one.

[code]

[2018-09-09 13:15] cogk42 commented on #83
Maybe you have an `emoji.py` script in your working directory that is imported instead of the `emoji` module ?

[2018-09-11 20:34] guitar9 opened #85 "render emoji in Pillow"
is it possible to render Text with emoji in an Image with Pillow?

[2018-09-11 23:29] hamstap85 commented on #85
Perhaps this may help? https://github.com/python-pillow/Pillow/issues/1774

[2018-09-12 07:58] guitar9 commented on #85
thanks but i want colored emoji. Like if you writing in whatsapp or
facebook.

[2018-09-14 01:28] JimCurryWang commented on #81
@niladridutt

There is an dictionary called ``EMOJI_UNICODE`` .
Maybe that is  what you want ?
[code]
[code]

[2018-09-14 21:28] niladridutt commented on #81
@JimCurryWang Not really. I wanted to get a list of all emojis through which I could iterate and build a map. Anyway, I've written my own function now.

[2018-10-19 11:39] larrrry1412 opened #87 "image caption"
您好！我是来自南京理工大学计算机学院的本科生，冒昧的打扰您，麻烦您查看一下 博客园您的私信箱！

[2018-10-26 16:02] pyaf opened #88 "Emojis not being rendered."
Hi, I've installed `emoji` on my local ubuntu machine and a remote ubuntu server. When I try to run following snippet:

[code]

It works perfectly fine on my local machine but fails with following error on my remote server:

[code]

I've tried searching about this on the internet, but couldn't fix it. Any ideas why this is happening?

[2018-12-10 12:17] hrvoojex commented on #83
This is exactly what happend to me. My script was emoji.py. Renamed it and it's working now.

[2018-12-20 14:52] truthdoug commented on #72
There have been two updates to pypi since this issue was opened. See the [release history](https://pypi.org/project/emoji/#history)

[2018-12-20 14:53] truthdoug commented on #70
There have been two updates to pypi since this issue was opened. See the [release history](https://pypi.org/project/emoji/#history)

[2018-12-30 16:43] #83 closed

[2019-01-07 18:54] kwhumphreys opened #90 "trademark symbols are emojis?"
what is the reasoning to include ® and ™ as emojis?

[2019-01-20 21:48] ohad24 commented on #84
+1

[2019-01-24 11:21] alexislg2 commented on #85
where you able to find a solution?

[2019-01-26 19:40] guitar9 commented on #85
No

Am Do., 24. Jan. 2019, 12:21 hat ALEXIS LE GOFF <notifications@github.com>
geschrieben:

[2019-04-24 07:25] LaureeGrd opened #92 "Emojis registered as alias of a non-registered emoji"
This keycap emojis are only registered on the alias dictionary, therefore can't be interpreted using demojize(), since it doesn't use that dict.
[code]

Example using :keycap_digit_zero: and it's 3 character "cousin" :keycap_0:
[code]

[2019-05-24 14:38] CosasDePuma commented on #84
If I try to run the Python 3.7 interpreter from a Powershell Terminal and I got this result:

[code]

Not exactly this squares, but similar.

[2019-07-12 18:16] mertkosan opened #98 "Language option for emoji descriptions"
While demojizing or emojizing, there can be a language option which would be awesome...
- The function may take one more parameter which will be 'lang' (such as 'en', 'es', 'tr'...), then according to that parameter, transform the emoji...
- The community can help for the translation as well, I can do Turkish one.

[2019-07-30 17:45] #92 closed

[2019-08-01 19:22] Harmon758 opened #99 "Python 3.6+ DeprecationWarning / Python 3.8 SyntaxWarnings"
https://docs.python.org/3.8/whatsnew/3.8.html

https://docs.python.org/3.6/whatsnew/changelog.html, https://bugs.python.org/issue27364, https://hg.python.org/cpython/rev/38802c38cfe1, https://github.com/python/cpython/commit/110b6fecbbb86143a4acb568f50eab2c870e7d34

[code]

https://docs.python.org/3.8/reference/lexical_analysis.html

https://bugs.python.org/issue32912, https://github.com/python/cp

[2019-08-07 08:46] emanchado commented on #63
You may have to install additional fonts that have colour emojis, eg. https://www.google.com/get/noto/help/emoji/

[2019-08-20 15:33] SinonCuriosus opened #103 "Issue installing EMOJI_Package"
Hello guys, I'm learning module, and i tried to install the Emoji Package, but the instalation failed, and i don't know how to keep going my studies without solving it... Anyone can help me?

I will attach a print about the error...

![image](https://user-images.githubusercontent.com/54323733/63361534-38e41e80-c368-11e9-89d2-fd1d1222fb96.png)

[2019-08-21 22:49] verhovsky commented on #98
The Unicode Consortium already provides translations http://unicode.org/cldr/charts/dev/annotations/index.html

[2019-09-12 02:59] #99 closed

[2019-10-16 12:29] LuckyDenis opened #107 ":egg: error aliace or should it be?"
Hello,
If I use the flag `emojize(':egg:', use_aliases=True)`, then Unicode `:cooking:` is given, and aliase for eggs with work in aliase mode is not. This is how it should be, or is it a bug and it can be fixed?

[2019-11-11 18:28] kairstenfay commented on #77
I am also having this issue. The emoji for the US flag, :us:, is being split into  🇺 🇸.

[2019-11-15 14:59] #65 closed

[2019-12-23 11:39] epogrebnyak opened #111 "render country names?"
Two letters country names are on alias list, but not rendered. Somehting wrong with a local font or not an option with this package capabilities?

[code]

[2020-01-09 03:14] xiaowei-xw opened #112 "what should I do? AttributeError: 'str' object has no attribute 'emojize'"
import sys
import emoji
lines=open("C:/Users/demoji.txt",encoding='utf-8').readlines()
fp=open("C:/Userstweet8.txt", 'w',encoding='utf-8')
for s in lines:
    emoji=emoji.emojize(s, use_aliases=True)
    fp.write(emoji)
fp.close()

AttributeError                            Traceback (most recent call last)
<ipython-input-384-3a0edc734ca9> in <module>
      5 fp=open("C:/Users/tweet8.txt", 'w',enco

[2020-01-09 06:22] dyspop commented on #112
Try not assigning your string variable to the 'emoji' object name. You
write over the imported emoji library, assigning it to a string value. then
you try to emojize it, but python strings don't have a method 'emojize' so
you get the error which explains this.

[code]
I didn't test this code, I don't have windows or your files but this should
be about the right idea

On Wed, Jan 8, 2020 at 10:14 P

[2020-01-09 07:08] xiaowei-xw commented on #112
[emoji.txt](https://github.com/carpedm20/emoji/files/4039077/emoji.txt)
can you help me try?

[2020-01-21 11:50] gshefer opened #113 "Some emoji doesn't work"
[code]

Where is my smiley??

[2020-01-31 16:12] tirkarthi opened #115 "Syntaxwarning over comparison of literals using is in Python 3.8"
Similar to https://github.com/carpedm20/emoji/issues/99

[code]

[2020-03-22 12:42] YuKitAs commented on #113
It also happened to me, some smileys just don't work.

[2020-03-27 21:11] SuperSajuuk opened #117 "emoji_lis() function doesn't work for some sequence emotes"
Hi there, I'm noticing that in some circumstances, eg the UK nation flag emoji of Scotland, England and Wales, this function isn't spitting out the complete sequence. Instead, the function just provides a generic black flag emoji with none of the other codepoints that are apparently specified in the unicode_codesi.py file. Is this a bug and if so, how would I fix it?

[2020-04-26 18:53] aashish-chaubey opened #119 "A useful method to check for consecutive emojis in a list"
Hey, is there any useful method which can help us eliminate or at least find out all the consecutively appearing, same kind of emojis. This is a very often used feature and just wanted to check if there is already a method for it.

Example: "You are welcome to the event 🙏🙏🙏 I hope you enjoy the concert 🙏🙏❤️"

Should return: "You are welcome to the event 🙏 I hope you enjoy the concert 🙏❤️"

Let me

[2020-04-27 21:03] aashish-chaubey commented on #119
I wrote a small script to do that, I think no extra method is required for that!

Hence closing this issue!

[2020-04-27 21:03] #119 closed

[2020-04-29 10:46] aashish-chaubey opened #120 "Find all the distinct emojis present in the list"
Given a sentence, I would like to find out all the distinct number of emojis in a list:

For example:

The function should return `['😷']`

The function should return `['😷', '🇬🇧']`

Any help will be appreciated!

[2020-05-15 07:40] troldmand commented on #113
Also happened to me:

`
# Templates
def random_emoji(i):
        switcher={
            1: emoji.emojize(':thumbs_up:'),
            2: emoji.emojize(':fire:'),
            3: emoji.emojize(':collision:'),
            4: emoji.emojize(':pray:'),
            5: emoji.emojize(':fist:'),
            6: emoji.emojize(':heartpulse:'),
            7: emoji.emojize(':scream:'),
            8: emoji.emoji

[2020-05-17 12:16] shred opened #124 "Emoji identifier mismatch"
The :checkered_flag: emoji is called `:checkered_flag:` in the Emoji Cheat Sheet, and also recognized like that in GitHub.

The official Unicode name is "chequered flag", and this library also only recognizes `:chequered_flag:`.

In the result, if I copy the Emoji Cheat Sheet name, it is not recognized by this library. I would send in a pull request, but what is the preferred notation? The Emoji C

[2020-05-17 12:44] shred commented on #124
I've found the `use_aliases=True` option. I'm sorry for the noise! :sweat_smile:

[2020-05-17 12:44] #124 closed

[2020-05-24 12:04] MandiYang opened #125 "Error on IDLE"
I got this error on idle:
Traceback (most recent call last):
  File "/home/mandi/Desktop/Mandi-master/depy/testThingy.py", line 8, in <module>
    print(emoji.emojize(":grinning_face_with_big_eyes:"))
UnicodeEncodeError: 'UCS-2' codec can't encode character '\U0001f603' in position 0: Non-BMP character not supported in Tk

[2020-05-24 12:04] MandiYang commented on #125
I got

[2020-05-24 12:10] MandiYang commented on #125
I am using linux

[2020-05-31 16:11] #125 closed

[2020-07-06 05:35] hedythedev opened #126 "Is this project no longer maintained?"
Latest commit in 2019, latest release 2015 (2019 on PyPI), lots of repeating issues unresolved, lots of unmerged pr with no activity, (sorry if it sounds rude, but), has this project stopped?

[2020-07-06 05:35] hedythedev commented on #82
Yes, I noticed that too but unfortunately it seems that this project is no longer maintained (#126)

[2020-08-02 02:42] #115 closed

[2020-08-02 06:01] tahirjalilov commented on #126
the last merge was 3 hours ago )))

[2020-08-02 06:02] hedythedev commented on #126
Ooh that's great!

[2020-08-02 06:02] #126 closed

[2020-08-03 14:25] truthdoug commented on #63
Emojis are rendered by the OS/tool used. This python package merely translates to and from unicode. If your OS or tool isn't rendering it in color, it's not something that can be fixed by this package.

This issue can be closed.

[2020-08-03 14:26] truthdoug commented on #54
This is an issue in how Tk renders (or doesn't render) the unicode produced by this package. It cannot be fixed by this package.

This issue can be closed.

[2020-08-03 14:28] truthdoug commented on #72
This issue can be closed.

[2020-08-03 14:30] truthdoug commented on #18
There have been at least two major updates of unicode emojis since this issue was last commented on.

This issue can be closed.

[2020-08-04 01:12] #107 closed

[2020-08-04 08:49] #72 closed

[2020-08-04 13:12] truthdoug commented on #120
You'll probably have better luck asking this sort of question on StackOverflow.

[2020-08-04 13:26] truthdoug commented on #113
You'll need to add `use_aliases=True` to the `emojize()` call. Per the readme:

[code]

produces:

[code]

[2020-08-23 20:07] jack1142 opened #129 "Using `variant` may return invalid variation sequences"
According to <https://unicode.org/faq/vs.html#3>:

Which means that using `variant` kwarg should only append the variation selector to emojis that require it per the emoji-variation-sequences.txt file (<https://www.unicode.org/Public/13.0.0/ucd/emoji/emoji-variation-sequences.txt>)

[2020-08-28 02:26] XWilliamY commented on #120
You can try the following:

[code]

Or if you'd also like to count how many of each emoji there are:

[code]

[2020-08-28 15:29] linsd75 opened #130 "A question mark in the background"
![2020-08-28_23-28-09](https://user-images.githubusercontent.com/69625036/91585126-39a18e80-e986-11ea-8c71-7bc8f7e8120f.png)

[code]

[2020-09-01 11:13] giladfuchs commented on #112
I have the same problem @xiaowei-xw ..
like @dyspop  mention simple change it for another name...
I attach a simple example

`peopleEmoji = ['smile', 'laughing', 'smiley', 'relaxed', 'smirk', 'heart_eyes', 'kissing_heart', 'kissing_closed_eyes']
size = len(peopleEmoji)
def getPeopleEmoji():
    sizeOfEmoji = randrange(12) + 4
    emojiToAns = ''

    for x in range(sizeOfEmoji):
        randEmoji

[2020-09-03 23:43] navneeth opened #131 "So cool"
Just a note to let you know that this package rocks !
OSS contributors are under appreciated. I appreciate how a this put some spunk in my dull print statements.

[2020-09-15 02:32] liutianling opened #133 "how to filter all the emojis?"
The raw text is : Pour l’amour de dieux me laisser plus jamais sortir avec un roux boutonneux 🙏🏻
and the result is: Pour l’amour de dieux me laisser plus jamais sortir avec un roux boutonneux :folded_hands_light_skin_tone:

Whether i need a regex process to get the final result as follow ?
Pour l’amour de dieux me laisser plus jamais sortir avec un roux boutonneux

[2020-09-26 23:43] rsalmei opened #134 "Split chars of a string"
Hey man, I'm the author of [alive-progress](https://github.com/rsalmei/alive-progress). I'm struggling to correctly support emojis in there (https://github.com/rsalmei/alive-progress/issues/19), and I think this project could help me.

Please, how could I split the chars of a string, including emojis of all kinds?

For example:
[code]

How could I correctly detect the three chars in this string us

[2020-09-28 11:21] frenck opened #135 "Where to find the changes between releases?"
PyPi shows release 0.6.0 now, GitHub is stuck at v0.3.4, the `CHANGES.md` stopped at 0.3.5.

How do I see what is changed and decide what the impact is when I upgrade this dependency on my codebase?

[2020-09-30 12:40] #117 closed

[2020-09-30 12:41] #120 closed

[2020-10-05 09:23] rishabh-gupta-fk commented on #113
print("So pretty 🧡🧡🧡".encode('unicode_escape'))
print(emoji.demojize("So pretty 🧡🧡🧡"))

[2020-10-07 13:18] DataPsycho opened #136 "Some emoji Detection is missing?"
My colleague shared that image in our slack channel and joking that emoji library is racist I hope not 🧑🏽‍🦱. But I guess its just missing some emoji signature probably; may be we can add them. Here in the left side there is actual text and in the right side he have implemented a lambda function to search the emojies but using emoji library he was not able to find the darker emojies.
🤞🏾
![image](ht

[2020-10-21 04:32] HilitOreny opened #138 "Colorless Emojis"
Dear maintainers,

The official documentation presents emojis in different colors:
[https://pypi.org/project/emoji/](url)
[https://emojis.readthedocs.io/en/latest/](url)

Yet, when I run the emoji module, the emojis are colorless.

For example, when I run the following code:
![code](https://user-images.githubusercontent.com/69712717/96672776-b42ad100-136d-11eb-8376-4193389e57d4.jpg)

I get a color

[2020-11-07 14:27] Achraf-Ougdal opened #140 "module 'emoji' has no attribute 'emojize'"
I just started working with emoji. and i get this error **module 'emoji' has no attribute 'emojize'**
I checked  the last closed issue but i have no script with the name emoji.py in my working directory.
I tried to run the same code in different directories in my computer and still the same problem.

I tried this simple code

[code]

Update : I'm facing the same problem with other attributes like

[2020-11-07 17:49] #140 closed

[2020-11-17 12:28] jerrygaoLondon opened #141 "can you increase emoji coverage for twitter ? currently not support few twitter emojis e.g., US Flag \ud83c\uddfa\ud83c\uddf8"
not support few twitter emojis e.g., US Flag \ud83c\uddfa\ud83c\uddf8 in UTF-16. [emotlib ](https://pypi.org/project/emotlib/)package has more coverage and can convert the flag emoji correctly.

can you increase emoji coverage for twitter / [Twemoji ](https://twemoji.twitter.com/)?

[2020-11-17 12:46] #141 closed

[2020-11-17 12:47] jerrygaoLondon commented on #141
tokeniser cause the issue. the package now can convert flag emoji correctly.

[2021-01-05 18:10] CircuitSacul opened #142 ":pinched_fingers: (🤌) isn't in `emoji.UNICODE_EMOJI`"
This emoji is new in 2020, so I'd assume that's why it isn't here yet. Would you be willing to add it though?

https://emojipedia.org/pinched-fingers/

[2021-01-06 15:46] manueltonneau commented on #98
It now exists for Spanish and Portuguese (see README). To use it, you need to clone the package, cd into it and install the package with `pip install .`.

[2021-01-14 18:58] tahirjalilov commented on #142
it's because the last pack of emojis added to the project was from emoji v.12 (https://emojipedia.org/emoji-12.0/)
I'm gonna add emojis from version 12.1/13/13.1 and 14. Give a time ))))

[2021-01-14 19:05] tahirjalilov commented on #138
it's because you are using a terminal or python console and emojis can not be colored there

[2021-01-14 19:07] tahirjalilov commented on #136
I think it's because the last pack of emojis added to the project was from emoji v.12 (https://emojipedia.org/emoji-12.0/)
I'm gonna add emojis from version 12.1/13/13.1 and 14. Give me a time ))))

[2021-01-23 09:43] zaanposni opened #147 "ImportError: cannot import name 'unicode_codes' from partially initialized module 'emoji'"
Importing emoji fails due to a invalid input within `emoji/__init__.py`.

Using `python -m pip install emoji --upgrade`.

## Ubuntu
[code]
Or via CLI:
[code]

## Windows
[code]

[2021-01-23 10:38] glasnt commented on #147
I am also getting this error. Github action log https://github.com/glasnt/glasnt/runs/1753645597?check_suite_focus=true

[2021-01-23 12:21] kenasanion commented on #147
I am also getting the same error. Workaround is to downgrade to 0.6.0.

[2021-01-23 12:45] #147 closed

[2021-01-23 12:58] TahirJalilov commented on #147
I apologize for my inattention. This bug already fixed

[2021-01-23 13:40] TahirJalilov commented on #135
I've made some changes to the release numbers and CHANGES.md. From now on everything will be updated.

[2021-01-23 13:42] zaanposni commented on #147
No worries, thanks for the quick fix.

[2021-01-23 13:59] TahirJalilov commented on #131
Thank you )) It's a very cool project made by good people

[2021-01-23 14:18] #113 closed

[2021-01-23 14:19] #98 closed

[2021-01-23 14:20] #14 closed

[2021-01-23 14:22] #20 closed

[2021-01-23 14:22] #18 closed

[2021-01-23 14:25] #25 closed

[2021-01-23 14:27] #37 closed

[2021-01-23 14:32] TahirJalilov commented on #42
currently available

[2021-01-23 14:32] #42 closed

[2021-01-23 14:38] TahirJalilov commented on #43
it's not a bug. Please check the emoji name here http://www.unicode.org/emoji/charts/full-emoji-list.html#1f643 we replace only space with an underscore

[2021-01-23 14:38] #43 closed

[2021-01-23 14:42] #46 closed

[2021-01-23 14:46] #48 closed

[2021-01-23 14:47] #49 closed

[2021-01-23 14:48] #51 closed

[2021-01-23 14:49] #54 closed

[2021-01-23 14:51] #58 closed

[2021-01-23 14:51] TahirJalilov commented on #59
fixed

[2021-01-23 14:51] #59 closed

[2021-01-23 14:52] #63 closed

[2021-01-23 14:52] #138 closed

[2021-01-23 14:54] #66 closed

[2021-01-23 14:54] TahirJalilov commented on #70
already did

[2021-01-23 14:54] #70 closed

[2021-01-23 14:54] #77 closed

[2021-01-23 14:55] TahirJalilov commented on #78
already added

[2021-01-23 14:55] #78 closed

[2021-01-23 14:56] #80 closed

[2021-01-23 14:57] #81 closed

[2021-01-23 14:58] #82 closed

[2021-01-23 15:00] #87 closed

[2021-01-23 15:01] #88 closed

[2021-01-23 15:02] TahirJalilov commented on #90
Don't understand your question

[2021-01-23 15:03] #103 closed

[2021-01-23 15:05] #111 closed

[2021-01-23 15:06] #112 closed

[2021-01-23 15:07] TahirJalilov commented on #130
it's related to your font. For me everything works good

[2021-01-23 15:07] #130 closed

[2021-01-23 15:09] #135 closed

[2021-01-23 15:11] TahirJalilov commented on #84
You have to use aliases

😄

👍

[2021-01-23 15:11] #84 closed

[2021-01-23 17:41] luckydonald commented on #49
@TahirJalilov How was this resolved?

[2021-01-23 17:56] TahirJalilov commented on #49
@luckydonald I think we should not make any changes to the name of the package based on the PEP 423 https://legacy.python.org/dev/peps/pep-0423/#use-a-single-name

[2021-01-23 20:14] luckydonald commented on #49
In other words, django-emoji has to change their package name, as this project is named `emoji` and thus the module being named `emoji` as well makes sense. :+1:

[2021-01-24 15:46] TahirJalilov commented on #49
yes, absolutely right

[2021-01-24 22:48] kwhumphreys commented on #90
Why is U+2122 included in `get_emoji_regexp` here https://github.com/carpedm20/emoji/blob/master/emoji/unicode_codes/en.py#L2989 when it's a letterlike symbol, not an emoji https://en.wikipedia.org/wiki/Letterlike_Symbols ?

Also U+00A9 https://github.com/carpedm20/emoji/blob/master/emoji/unicode_codes/en.py#L712

[2021-01-25 05:27] TahirJalilov commented on #90
Because the are exist in the list of all emojis. Please check here:
https://www.unicode.org/emoji/charts/full-emoji-list.html#00a9
https://www.unicode.org/emoji/charts/full-emoji-list.html#2122

[2021-01-25 06:16] tellarin commented on #142
I'm having a similar problem, but with OK Hand (\U0001f44c). Since the release of v1.0 builds and packages are breaking.

[2021-01-25 06:19] tellarin opened #151 "Some emojis no longer in after the release of the PyPI package for v1?"
We've started facing an issue with some emojis are no longer included in UNICODE_EMOJI. For example, the OK Hand emoji (\U0001f44c).

All worked fine in v0.6.0, but since the release of v1.0 builds and downstream packages are breaking.

Or was this a breaking change in the structure of UNICODE_EMOJI? I so, I'd suggest having a field just for the code points.

[2021-01-25 10:32] TahirJalilov commented on #142
@tellarin  nope nothing was removed from the old list of emojis. OK_hand is still in the list line number 241
https://github.com/carpedm20/emoji/blob/master/emoji/unicode_codes/en.py#L241

[2021-01-25 10:41] TahirJalilov commented on #151
Since release v.1.0.0 Multilanguage support added to the project. Maybe the reason for your problem is it.
The "OK hand" emoji is still there https://github.com/carpedm20/emoji/blob/master/emoji/unicode_codes/en.py#L241

[2021-01-25 19:17] #56 closed

[2021-01-26 04:10] TahirJalilov commented on #90
@kwhumphreys May I close this issue?

[2021-01-26 06:29] TahirJalilov commented on #151
@tellarin may I close this issue?

[2021-01-26 06:54] tellarin commented on #151
I get what you meant, and I now am referencing UNICODE_EMOJI["en"] to keep the previous behaviour. So I guess it can be closed.
But I'd suggest the emoji package expose some field that has only the Unicode code points for emojis (without the natural-language-like aliases, and without any language specific mapping) for ease of checks against it. That would be a valuable feature of the lib.

[2021-01-26 07:33] TahirJalilov commented on #151
I think it's a good idea )) added to my todo list )) Thank you!

[2021-01-26 07:33] #151 closed

[2021-01-26 15:32] MysteryxD opened #154 "module 'emoji' has no attribute 'get_emoji_regexp'"
The below error is popped up

![IMG_20210126_205813](https://user-images.githubusercontent.com/75388792/105865911-659a6c00-6019-11eb-831c-f4b38e84d0cd.jpg)

I've made sure that there is no file or directory named 'emoji'.
I didn't change the code even a bit, and it was working totally fine few days ago.
But today I realized this error popping up.
What's new? 👀

[2021-01-26 16:36] TahirJalilov commented on #154
this is my output.
![image](https://user-images.githubusercontent.com/43037294/105874250-cfb11200-6015-11eb-8730-d965e6852e5b.png)

[2021-01-26 22:31] #90 closed

[2021-01-27 05:08] #136 closed

[2021-01-27 05:08] #142 closed

[2021-01-27 12:58] nuetoban opened #155 "Cannot check whether the char is emoji or not with emoji.UNICODE_EMOJI"
It looks like versions 1.1.0 and 1.0.0 have invalid UNICODE_EMOJI variable.

[code]

The version 0.6.0 works perfectly.
[code]

[2021-01-27 13:25] TahirJalilov commented on #155
From the v.1.0.0 added support for multilingual naming of emojis. Now UNICODE_EMOJI has language keys
UNICODE_EMOJI = {
    'en': UNICODE_EMOJI_ENGLISH,
    'es': UNICODE_EMOJI_SPANISH,
    'pt': UNICODE_EMOJI_PORTUGUESE,
    'it': UNICODE_EMOJI_ITALIAN,
}

[2021-01-27 14:22] exelestor commented on #155
Got it. Sorry!

[2021-01-27 14:23] nuetoban commented on #155
I got it. Sorry!

[2021-01-27 14:43] #155 closed

[2021-01-28 12:31] TahirJalilov commented on #154
@MysteryxD did you check it again? May I close this issue?

[2021-01-29 21:07] MysteryxD commented on #154
It's weird problem n i checked it again n again but still it's the same. But i can't understand what it is. But of course it will be problem from my side n i will think about it

[2021-01-29 21:07] #154 closed

[2021-02-03 01:03] Mara-Li opened #157 "Random one emoji"
Hello! For anyone, I wrote, with this package, an emoji randomizer!
Here it is :
[code]
![image](https://user-images.githubusercontent.com/30244939/106683013-fb0ea080-65c3-11eb-9d7e-190b7df0192a.png)

[2021-02-08 11:45] Aimeethyst opened #159 "Add missing aliases found in https://github.com/iamcal/"
While processing an export from Slack I found a handful of missing aliases, so I wrote a script to compare the alias list with the data found at https://github.com/iamcal/emoji-data, which identified 530 missing aliases and 4 cases where the name is found but the unicode does not match.

The script is contributed in https://github.com/carpedm20/emoji/pull/158. The pull request, and script, do not

[2021-03-05 16:29] CircleOnCircles opened #161 "✏️ `pencil2` does not get emojize without `use_aliases=True`"
I am not sure if this is a issue, but it looks unintuitive to me.

[2021-03-13 18:19] TahirJalilov commented on #161
Hello. There is no emoji named "pencil2" in the main list of Unicode emoji. https://www.unicode.org/emoji/charts/full-emoji-list.html#270f

[2021-03-15 01:38] #161 closed

[2021-04-12 23:55] CircuitSacul opened #164 "Missing ❤️ emoji"
<img width="248" alt="Screen Shot 2021-04-12 at 7 55 21 PM" src="https://user-images.githubusercontent.com/55721663/114476841-0506de00-9bc9-11eb-9c0d-a8443daeb490.png">

I also tried the other 3 language codes, still got nothing.

[2021-04-13 16:38] CircuitSacul commented on #164
<img width="487" alt="Screen Shot 2021-04-13 at 12 37 33 PM" src="https://user-images.githubusercontent.com/55721663/114588834-1ac1e500-9c55-11eb-983e-fdef640b19c9.png">

[2021-04-13 18:51] cvzi commented on #164
The problem is that there can be invisible characters after the emoji. You can check it like so:
[code]
If the length is greater than 1 then there are invisible characters after the emoji. They might change the appearance of the emoji. In this case they switch the emoji between looking like an emoji (red heart) and looking like text (black heart).

You can create them like this to test it:
[code]

[2021-04-14 14:34] CircuitSacul commented on #164
Since this is in the context of a discord bot, I can't control the length of the input, so how would I solve this problem?

[2021-04-14 18:11] cvzi commented on #164
What exactly are you trying to achieve?
Generally I would suggest to use the demojize function and work with the result
[code]

[2021-04-14 18:12] CircuitSacul commented on #164
I need to validate that the emoji is actually an emoji, so that I can react to messages with it later

[2021-04-14 18:17] cvzi commented on #164
You can check if the return value of demojize is different from the original string:
[code]

[2021-04-14 18:18] CircuitSacul commented on #164
How would I extract the emoji, and only the emoji? That method would allow "bla :emoji: bla" to pass

[2021-04-14 18:23] cvzi commented on #164
You could extract the text between the two colons. For example with a regular expression:

[code]

[2021-04-14 18:32] CircuitSacul commented on #164
I had to replace `search` with `findall`, but that works. Thanks

[2021-04-14 18:32] #164 closed

[2021-04-15 22:59] sebastiancontz opened #165 "demojize() got an unexpected keyword argument 'language'"
Hi, I was trying to use the _language_ parameter on demojize function, but its result on a TypeError exception.

`TypeError: demojize() got an unexpected keyword argument 'language'`

Im using the 0.5.1 version.

[2021-04-15 23:01] sebastiancontz commented on #165
nvm, I just reinstall the library and now works as intented.

[2021-04-15 23:01] #165 closed

[2021-04-20 17:52] blueteamzone opened #167 "emoji keycaps are missing"
I tried to print emoji keycaps from 1 to 10 like

[code]

They only print ` :one: :two: etc`
I was able to print successfully keycap 10.

[2021-04-20 19:19] cvzi commented on #167
Either you enable the aliases:
[code]
or you can use these names:
[code]

[2021-04-21 07:24] blueteamzone commented on #167
perfect!
It's working

[2021-04-21 07:24] #167 closed

[2021-04-24 00:13] Trimatix opened #169 "Regional indicator emojis missing"
Hi carpedm, thanks for such a fantastic library!

The :regional_inidicator_... emojis are currently missing (not on https://carpedm20.github.io/emoji/ and not recognised by the `emoji_count`/`demojize`/etc)

🇦, 🇧... 🇿

These emojis are not registered on https://www.webfx.com/tools/emoji-cheat-sheet/

[2021-04-24 00:31] Trimatix commented on #169
PR Submitted: https://github.com/carpedm20/emoji/pull/170

[2021-04-24 12:20] Trimatix commented on #169
Closed as wontfix. See https://github.com/carpedm20/emoji/pull/170

[2021-04-24 12:20] #169 closed

[2021-04-25 16:30] sebasop320 opened #171 "my python console lags"
when i open my python terminal and imort emoji it works but when a i put this line of code `print(emoji.emojize('Python is :thumbs_up:'))
 ` it lags and stop working

pls help

[2021-06-29 09:26] guillaumebu opened #175 "Release emoji 1.3.0 and 1.4.0 on pypi?"
Could someone release new versions of emoji on pypi please?

[2021-07-03 21:13] jaw12346 opened #176 "What is returned if a provided Unicode emoji cannot be demojized?"
I'm working on a project that needs to demojize and emojize Unicode emojis, and I'm wondering what is returned from `emoji.demojize(_emoji)` if _emoji is invalid. Is it returned as None or does it result in an exception of some kind?

[2021-07-03 21:15] #176 closed

[2021-07-04 12:38] TahirJalilov commented on #175
hello. Yes I will do it soon.

[2021-07-17 07:48] TahirJalilov commented on #175
1.4.0 already on pypi

[2021-07-17 19:37] theMarix opened #177 "Tests don't pass on 1.4.0"
Attempting to package 1.4.0 for openSUSE I noticed that the tests won't pass. Specifically, it seems the regex doesn't match all characters used by the French emoji names.

[code]

On top of that, some of the German emoji names contain the colon character, which obviously cannot work.

[2021-07-18 06:11] mgorny commented on #177
@theMarix, thanks for your work. I hope it's merged soon, so that we can package the new version.

[2021-07-18 08:25] TahirJalilov commented on #177
merged. Thank you!

[2021-07-18 08:26] #175 closed

[2021-07-18 09:12] mgorny commented on #177
Unfortunately, the tests are still failing. Now at: `:ziffernblatt_12:00_uhr:`

[2021-07-21 09:24] cvzi commented on #177
Can we just replace or drop the colons for these time emoji? Would that cause issues for applications that use this package?

[2021-07-30 05:53] TahirJalilov commented on #177
I've made the changes for time naming in German, ":" (colons) replaced with "." (dot)

[2021-07-30 05:54] TahirJalilov commented on #177
All tests passed

[2021-07-30 07:58] #159 closed

[2021-08-04 07:38] TahirJalilov commented on #177
may I close this issue?

[2021-08-04 07:40] TahirJalilov commented on #171
Hello, I tested it on my Arch Linux, and it works correct. Maybe it depends on your environment or terminal settings, or may be something wrong with your terminal font

[2021-08-04 19:20] theMarix commented on #177
Yes, of course!

[2021-08-04 19:20] #177 closed

[2021-08-25 05:15] Rishi-Ratan-Pandey opened #182 "only red heart emoji i can see in the console not others."
import emoji

 print(emoji.emojize("Python Is Fun:red_heart:"))#it displays ❤ in the console

let's say i want to print thumbs up emoji in the console
import emoji
print(emoji.emojize("Python Is Fun:thumbs_up:"))#it not display thumbs up emoji in the console
why thumbs up emoji is not  prints in the console???

[2021-08-25 07:42] TahirJalilov commented on #182
Maybe it depends on your console or installed fonts

[2021-08-25 09:51] #131 closed

[2021-08-25 09:52] #171 closed

[2021-09-13 20:03] truthdoug opened #183 "Identify unicode release version or date for each emoji"
**The problem I'm trying to solve:**

I have a group of users with particularly old phones. I want to make sure that I'm sending emojis that will likely render on their phones, so I'd like the ability to scan all emojis my code plans to send and report on any that are newer than N years old.

**Possible solution**

Update this project so that the big list of emojis also includes the unicode releas

[2021-09-14 11:24] TahirJalilov commented on #182
may I close this issue?

[2021-09-14 11:25] TahirJalilov commented on #45
may I close this issue?

[2021-09-15 20:36] cvzi commented on #183
The version could easily be extracted from the unicode.org [emoji-test.txt file](https://unicode.org/Public/emoji/14.0/emoji-test.txt). The `E1.0`, `E0.6`,...  after every emoji in the file is the emoji version number.

There is a table here http://www.unicode.org/reports/tr51/#Versioning with all the releases. But I don't think we should use these dates in the package. Storing just the "E"-number

[2021-09-22 05:25] #45 closed

[2021-09-22 09:18] #182 closed

[2021-09-23 12:51] cvzi opened #184 "Inconsistent variant in the languages"
There are several emoji in the language files that are stored as a variant instead of the plain emoji.

Here is an example:
[code]
This does not work because the 'es.py' language file contains the variant `👁️ `
https://github.com/carpedm20/emoji/blob/170bb25ba35392ac8c218c7345f24f2d97999bc9/emoji/unicode_codes/es.py#L405
while the 'en.py' files contains the plain version `👁`
https://github.com/car

[2021-09-24 15:31] cvzi commented on #183
@TahirJalilov I would work on this if you are open to adding it to the package

[2021-09-24 15:47] TahirJalilov commented on #183
I did this new utility [get_codes_from_unicode_emoji_data_files.py](https://github.com/carpedm20/emoji/blob/master/utils/get_codes_from_unicode_emoji_data_files.py)

you may use it to extract all version names.
You need just make changes 30-th line
change this                 separated_name = line.split("   #")[-1].strip().split(" ")[2:] to this                 separated_name = line.split("   #")[

[2021-09-24 15:50] TahirJalilov commented on #183
@cvzi I was thinking where we can add the versions of emojis))) maybe you have an idea)))

[2021-09-24 15:56] cvzi commented on #183
Ok then I will work on adding this

I would suggest a new dict in a new file to store the versions, then we don't have to change the other files.

Maybe /unicode_codes/versions.py
[code]

[2021-09-25 05:34] TahirJalilov commented on #183
We can make 2 dictionaries with emoji_code: version and emoji_name: version, so users be able to get versions by emoji_code and emoji_name

What do you think?

[2021-09-25 11:55] #184 closed

[2021-09-26 00:44] luni3359 opened #186 "Typo in emoji_lis and distinct_emoji_lis?"
Not that I really mind, but I've been wondering whether or not "lis" stood for anything other than list without the t.

[2021-09-27 13:15] truthdoug commented on #183
An alternate approach, would be to turn the main data dict into a dict of dicts, like this...

[code]

This would require more refactoring for the initial implementation but might be easier for ongoing maintenance (addition of new emojis, etc) and also sets in place the structure if there are other data about each emoji that might be added in the future.

[2021-09-27 20:30] cvzi commented on #183
I am leaning towards the "dict of dicts" solution as well for the reason about adding other data:

In the [emoji-test.txt](https://unicode.org/Public/emoji/14.0/emoji-test.txt) every emoji has a status tag: "fully-qualified", "minimally-qualified" or "unqualified". Currently only the _fully-qualified_ emoji are stored because the others are not needed.

When someone tries to identify the emoji ver

[2021-09-27 20:38] cvzi commented on #186
For the emoji_list method "location in string" would make sense.

[2021-09-28 03:10] TahirJalilov commented on #183
Ok let's try.

[2021-10-01 08:06] naveen-marthala opened #187 "replace `re.sub`s with `re.compile`s for speed"
replace `re.sub`s with `a_variable = re.compile`s, then do `a_variable.sub()` for speed.

[2021-10-01 09:33] cvzi commented on #187
Looks like it is only used in https://github.com/carpedm20/emoji/blob/57f010aa5776672c390796443a24cdc1e6d33726/emoji/core.py#L102 and
https://github.com/carpedm20/emoji/blob/57f010aa5776672c390796443a24cdc1e6d33726/emoji/core.py#L108
Since the argument `u'\ufe0f'` does not contain any regexp symbols, it should be even faster to use `str.replace(oldstr,newstr)`
[code]

Altough I am not sure if this

[2021-10-02 17:50] wildernessfamily opened #188 "Duplication of str using PySimpleGUI"
Problem:
I'm creating a GUI using PySimpleGUI. When I create a string variable to be displayed using the Text reference in PySimpleGUI with an emoji the entire string is duplicated.

Packages Installed:
PySimpleGUI Version 4.49.0
Emoji Version 1.5.0

Example:
[code]
<img title="a title" alt="Alt text" src="/images/boo.svg">
<img title="a title" alt="Alt text" src="/images/boo.svg">
[Doubling of th

[2021-10-02 19:10] cvzi commented on #188
Could you try what happens when you use one of the following strings as a title?
These are football and calendar emoji in their correct unicode form:

[code]
If it happens with these as well, then it is probably a problem in PySimpleGUI and not this package

[2021-10-02 19:26] wildernessfamily commented on #188
Hi,
Thanks for responding.
I removed the :football: and tried\U0001f3c8 and it duplicated the str again just like :football:

It may be a PySimpleGUI bug but I've worked with PySimpleGUI for a few years now and have never see it doing anything like this.

Let me know if you need me to test anything else.

Thank you,

[2021-10-02 20:55] cvzi commented on #188
I would say it is not an issue with this package then. The emoji.emojize() method just replaces the `:football:`  with `\U0001f3c`, it doesn't do anything else to the string.

[code]

Also I tested this on Windows 10 and it does not duplicate anything for me:

![screenshot](https://user-images.githubusercontent.com/8470684/135730739-fd324b0b-9772-42d0-8b08-382a18d699cf.png)

[code]
I don't know an

[2021-10-02 23:11] wildernessfamily commented on #188
Hi,

Thank you for the feedback.
I'm on a Mac. It looks good on a Mac.
I actually had no intentions of using an Emoji in the GUI.
I initially used Emoji for a text field. If a user enters an emoji in an input field I could deemojize it. Insert into the DB.
And then reverse it if the user brings up that record later to view.
It worked great.
I thought I try to add an Emoji to the title and that's w

[2021-10-03 18:42] wildernessfamily commented on #188
Just FYI if anyone in the future is looking at this. I did open an issue with PySimpleGUI that can be viewed at:
[https://github.com/PySimpleGUI/PySimpleGUI/issues/4780](https://github.com/PySimpleGUI/PySimpleGUI/issues/4780)

[2021-10-04 20:07] #187 closed

[2021-10-06 14:50] TahirJalilov commented on #183
@truthdoug is already done and merged ))) you may check the new version of package

[2021-10-06 14:58] kubinka0505 commented on #85
I've created [auepa](http://github.com/kubinka0505/auepa) for it, but [emojicdn](http://github.com/benborgers/emojicdn)'s much faster
[code]

[2021-10-09 15:14] lucianmarin opened #190 "Hexcode compatible with OpenMoji"
[code]

Can we add hexcode to `emoji.EMOJI_DATA`?

https://github.com/hfg-gmuend/openmoji are indentied by their hexcode.

I use the **emoji** package in production for [Subreply](https://subreply.com/). I intend to add [OpenMoji](https://openmoji.org/) as soon as they are production ready.

[2021-10-11 22:08] brondsem opened #191 "+1 alias missing in v1.6.0"
Up through v1.5.0 `:+1:` was an alias for 👍 but with v1.6.0 it isn't working.

I looked through the git commits and found in 32d3cb5fa3e5f533ac3b8b3ab201d295f3f07961 this was removed:
[code]

Could there be others missing also?  I just noticed `:+1:` since its a more popular one.

[2021-10-13 12:20] #191 closed, assigned to nobody

[2021-11-04 09:22] Alone749-i opened #194 "速度很慢且匹配的时候会将一个完整的emoji做拆分，并且有的emoji匹配不到。"
我在处理大量包含emoji数据的时候发现关于emoji匹配的位置，代码运行效率很低，并且会将一个完整的组合emoji拆分进行匹配。有些emoji匹配不上，希望给出一些解决方案。

[2021-11-04 09:52] TahirJalilov commented on #194
Hello @Alone749-i could you please describe your problem in English?

[2021-11-07 22:12] cvzi opened #195 "Proposal for several improvements"
Since the `EMOJI_DATA` "dict of dicts" was added in #189 that contains all the data now, I like to propose some further (breaking) changes to the package:
*  Remove the old dicts
*  Only generate the dict that is needed for the language
*  Update the language data
*  Specify what happens when an emoji is not translated

If we make any of these changes, I would suggest to update the version number

[2021-11-14 07:33] TahirJalilov commented on #195
well @cvzi it must be a huge update of package and the only thing that worries me is that the new version will not be backwards compatible. This package is used by 28 thousands repositories.

[2021-11-17 18:32] cvzi commented on #195
I assume we would have to release a minor version like `1.7.0` with Deprecation Warnings first, something like this:
[code]
I am not sure what is the correct way to do this though, I need to read some more Python documentation or check out how other packages have done this in the past.

[2021-11-17 18:33] cvzi commented on #195
I will focus on the demojize() performance first. This is a change that can be done without breaking changes. It seems to work so far and I am just writing a few more tests to make sure.

[2021-11-19 14:11] cvzi commented on #195
When I was writing tests, I realized an unclear case:
Someone can use a language and aliases e.g. `emojize(string, language='it', use_aliases=True)` and it's unclear what happens because we only have English aliases.
I would suggest to raise a warning in case someone uses `use_aliases=True` and another language than `'en'` by accident.

We could add `language='alias'` or `language='aliases'` as an

[2021-11-25 17:48] SpectrumBadger opened #196 "Useful?"
Input:
[code]

Output:
[code]

As you can see, they are the same. So?

[2021-11-25 19:39] cvzi commented on #196
What is your question?

[2021-11-25 20:08] SpectrumBadger commented on #196
Ah, nevermind.

[2021-11-25 20:08] #196 closed

[2021-12-07 08:21] revolter commented on #186
I too think that they're typos.

[2021-12-07 16:15] TahirJalilov commented on #188
@wildernessfamily may I close this issue?

[2021-12-07 16:36] cvzi commented on #186
This was the original commit https://github.com/carpedm20/emoji/commit/b1deea704aead97b148c82749f91d2723348957c by @NeelShah18

[2021-12-07 20:11] PySimpleGUI commented on #188
The root cause seems to be with tkinter, in particular older versions of tkinter.  The link to the issue above has all of the relevant details.  Great to see everyone coming together to work on the problem.

[2021-12-08 08:48] Alone749-i opened #198 "emoji match"
Hello, I was busy some time ago and did not reply to your email in time.
My English is not very good, so I translated it from Chinese to English. There may be some grammatical problems. I hope you can understand.
In the function get_emoji_regexp(), the regular expression matching emoji is not very suitable.
You are sorting the emoji list to prevent splitting the combined emojis during matching, bu

[2021-12-08 17:49] cvzi commented on #198
In the next version [v1.6.2](/carpedm20/emoji/releases/tag/v1.6.2) the regular expression is not used. I have replaced it with a search in a search tree:
Search tree: [emoji/core.py#L347-L407](/carpedm20/emoji/blob/e35fc45168376b273d8d04630dbb7f46c4544989/emoji/core.py#L347-L407)
New demojize(): [emoji/core.py#L173-L218](/carpedm20/emoji/blob/e35fc45168376b273d8d04630dbb7f46c4544989/emoji/core.py#

[2021-12-09 04:51] #194 closed

[2022-01-13 05:02] #40 closed

[2022-01-13 05:03] #129 closed

[2022-01-28 11:32] cvzi commented on #195
I looked into what is the proper way to handle version numbers and breaking changes according to https://semver.org/ and also how other projects on pypi.org did this.

This is my idea for the time line:

Current release is `1.6.3`

1.  First create a beta or release candidate version `2.0.0rc0` or `2.0.0b0` that contains all the breaking changes, just to make sure everything I suggested is actuall

[2022-01-28 19:02] reustle opened #201 "Proposal: Strict demojize"
It would be great to demojize a string without replacing emojis with shortcodes.

Judging by a few posts I've found ([like this](https://stackoverflow.com/questions/33404752/removing-emojis-from-a-string-in-python)), it seems like others would find this useful, too.

For example:

[code]

After looking through the codebase, I found `emoji.replace_emoji(my_string, replace="")` which seems to do wha

[2022-01-28 19:56] cvzi commented on #201
Yes `emoji.replace_emoji(my_string, replace="")` is the correct way to do it.

[2022-01-28 19:57] cvzi commented on #201
I guess we lack a documentation at the moment, we only have the python docstrings in the code.
We should at least have an overview of all the public methods. Could probably be auto-generated from those docstrings.

[2022-02-10 20:21] cvzi commented on #186
I guess we could rename these in the version 2.0.0 that I am planning in #195

Maybe just to `emoji.emoji_list()` and `emoji.distinct_emoji_list()`?
Or `emoji.findall()` seems like a "Python name"?

[2022-02-11 03:45] TahirJalilov commented on #186
Agree with you @cvzi

[2022-02-14 13:05] lsmith77 opened #202 "ability to change skin tone and gender of all emoji's in a text"
I would like to be able to allow users to choose their skin tone and gender and then any text submitted is automatically scanned for emoji's and where available the skin tone and gender is changed in the text.

Any hint how this could be achieved?
Also would you be open to a PR to add such functionality?

[2022-02-14 20:54] cvzi commented on #202
We currently don't have gender or skin tone information stored in our data files. I think we would need that information for every emoji that has a gender/skin tone. Without that information it is not straight forward to do this.

[Our data](https://raw.githubusercontent.com/carpedm20/emoji/master/emoji/unicode_codes/data_dict.py) looks like this:
[code]
We could annotate it with gender and skin t

[2022-02-14 21:11] cvzi commented on #202
Here is an example as to why it is not straight forward:

Let's use `:woman_detective_medium-light_skin_tone:` 🕵🏼‍♀️

In Unicode it is:
`1F575 1F3FC 200D 2640 FE0F`

* 1F575: detective :detective:
* 1F3FC: medium-light skin tone
* 200D: zero-width-joiner (this implicates that the preceding and following should be displayed as one emoji)
* 2640: female sign `♀`
* FE0F: emoji-presentation-selector (

[2022-02-15 20:06] cvzi commented on #202
Yes I believe that would be the only big obstacle.

Replacing of emojis can be done with the existing function `emoji.replace_emoji` like so:
[code]

[2022-02-19 22:33] cvzi opened #204 "Multi-person skin tones"
[Multi-Person Skin Tones on unicode.org](http://www.unicode.org/reports/tr51/#multiperson_skintones)

Edit: here's a tool to create these: https://codepen.io/cvzi/full/RwQNJBK

These are currently not RGI by unicode (Recommended for General Interchange), which means they should not be generated with `emojize()`.
However they work in some phones and browsers. For example a family of 4 persons with

[2022-03-08 14:26] tbuz opened #206 "Detection of multiple emojis without separating spaces"
Currently, emoji.is_emoji() does not return True when the input contains multiple emojis without spaces in between, e.g.

[code]

Is this intended or could it be added to the package?

[2022-03-09 09:07] cvzi commented on #206
I'd say it is the intended behavior

There is [`emoji_lis()`](https://github.com/carpedm20/emoji/blob/master/emoji/core.py#L293) which returns all emoji in a string:
[code]

[2022-03-12 11:51] fotoente opened #207 "Replacement for `emoji.get_emoji_regexp()`"
In the new Version 2.0.0 the function `emoji.get_emoji_regexp()` will be replaced.
I am using it not to delete, but to find all UTF emojis in a given string and count them. The deprecation warning only hints how to remove emojis in future.

Will there be a replacement for that function to find all emojis, just like `emoji.get_emoji_regexp()`?

[2022-03-12 12:16] cvzi commented on #207
There are the function `emoji.emoji_list()`, `emoji.distinct_emoji_list()` and `emoji.emoji_count()`
see issue #206 for an example of the list, for the others you have to look at the docstrings in [core.py](https://github.com/carpedm20/emoji/blob/master/emoji/core.py)

(excuse the brevity I am on my phone)
--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2022-03-17 21:13] #157 closed

[2022-05-02 10:27] amadejpapez opened #210 "Docs link gives a 404"
Documentation link in the README gives a GitHub Pages 404 error.

https://carpedm20.github.io/emoji works but https://carpedm20.github.io/emoji/docs/ doesn't seem to be available.

[2022-05-02 18:24] cvzi commented on #210
The documentation needs to build and deployed to the github pages by the Github action

@TahirJalilov can you create a new release to trigger the github action (or run the workflow manually without a new release at https://github.com/carpedm20/emoji/actions/workflows/updateGithubPages.yml)

[2022-05-04 14:27] TahirJalilov commented on #210
@cvzi all jobs have failed

[2022-05-05 10:39] TahirJalilov commented on #210
fixed.

[2022-05-05 10:39] #210 closed

[2022-06-03 03:13] i-am-wyk opened #212 "About supported languages"
Does 'emoji' support Chinese?

[2022-06-03 04:53] TahirJalilov commented on #212
Hello, not yet. We are planning to add more languages after huge upgrade to version 2.0.0

[2022-06-05 19:00] cvzi commented on #207
We now have a documentation with examples:
https://carpedm20.github.io/emoji/docs/#extracting-emoji

[2022-06-30 15:42] #198 closed

[2022-06-30 15:42] #201 closed

[2022-06-30 15:42] #206 closed

[2022-06-30 15:42] #207 closed

[2022-07-09 17:19] Dncey opened #213 "Emoji conversion failed when specifying delimiters"
Is there any solution under specifying the current delimiters? thank you!
`expected: 声👌👌👌👌👌`
[code]

[2022-07-09 20:47] cvzi commented on #213
This is bug. I think we need to escape the delimiters with [`re.escape()`](https://docs.python.org/3/library/re.html?highlight=re#re.escape) here: https://github.com/carpedm20/emoji/blob/cf923b238136ec82b2060416a2de2c023189c684/emoji/core.py#L80-L81
like so:
[code]
I will test it and make a fix.

[2022-07-09 20:58] super-cooper opened #214 "Add `regional_indicator_*` / big letter emojis"
`emoji` currently supports these emojis combined together to form flag codes, such as:

[code]

The 🇦🇫 emoji is actually a combination of two emojis: 🇦 and 🇫. There is currently no way to emojize/demojize to these single character "regional indicator emojis."

In Discord and the GNOME Characters app, these are known as "Regional Indicators," but they are not an official part of the unicode spec (b

[2022-07-12 10:49] #213 closed

[2022-07-17 14:09] kloczek opened #216 "2.0.0: sphinx warnings `reference target not found`"
On building my packages I'm using `sphinx-build` command with `-n` switch which shows warmings about missing references. These are not critical issues.
Here is the output with warnings:

<details>

[code]
</details>

You can peak on fixes that kind of issues in other projects
https://github.com/latchset/jwcrypto/pull/289
https://github.com/click-contrib/sphinx-click/commit/abc31069
https://github.

[2022-07-17 14:30] cvzi commented on #216
Can you make a pull request with your suggested fix?

[2022-07-17 14:37] kloczek commented on #216
Sorry I have no time.😞
I still have realtively long list of other modules to package.
As well it mostly afects html output and I'm interested only man page (roff output).
As I wrote these warnings are not ctritical .. so this can wait.
If you have CI you shopuld add `-n` option to generate documentation.

[2022-07-24 07:55] yasaman-y opened #217 "module 'emoji' has no attribute 'get_emoji_regexp'"
I get this erro when I want remove all emoji from my text.

[2022-07-24 08:02] #217 closed

[2022-07-24 23:22] KaiyeYang-git opened #218 "module 'emoji' has no attribute 'UNICODE_EMOJI'"
I have no idea why the latest version didn't include this function and which version I can use this function?

[2022-07-25 10:22] cvzi commented on #218
Version `emoji==1.7.0` is the last version that has `UNICODE_EMOJI`.

You can also try to use `EMOJI_DATA`as a replacement for `UNICODE_EMOJI`. If you explain how you use `UNICODE_EMOJI` or show your code, I can give more specific help.

[2022-07-25 11:17] KaiyeYang-git commented on #218
Cheers, it works when I degrade to v1.7

[2022-07-26 14:52] yusuffgur opened #219 "module 'emoji' has no attribute 'get_emoji_regexp'"
I do not why but I can not import this module?

[2022-07-26 15:03] cvzi commented on #219
That function was removed in version 2.0.0 of the module. See here: https://carpedm20.github.io/emoji/docs/#regular-expression

If you explain how you used `get_emoji_regexp()` or show your code snippet, I can give more specific help.

[2022-07-26 15:09] yusuffgur commented on #219
Thank you very much, ı was trying to import them for my course lab and get error.

[2022-07-26 15:55] jekeam opened #220 "django.core.exceptions.ImproperlyConfigured: Requested setting EMOJI_IMG_TAG, but settings are not configured. You must either define the environment variable DJANGO_SETTINGS_MODULE or call settings.configure() before accessing settings."
[code]

Traceback (most recent call last):
  File "E:\YandexDisk\github\change_site_notify_bot\venv\lib\site-packages\IPython\core\interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-16-0e68c25c8259>", line 1, in <cell line: 1>
    import emoji
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2020.3.2\plugins\python-

[2022-07-26 16:03] cvzi commented on #220
Can you explain in more detail when this happens and which version of python and of the module you are using?

[2022-07-27 06:50] jekeam commented on #220
My mistake: I installed "emoji-django"

[2022-07-28 04:24] #220 closed

[2022-07-28 04:24] #219 closed

[2022-07-28 04:24] #218 closed

[2022-07-29 18:33] mvitha opened #221 "AttributeError: module 'emoji' has no attribute 'UNICODE_EMOJI'"
I am getting this error - can anyone help w a fix?

[2022-07-29 18:58] cvzi commented on #221
The property `UNICODE_EMOJI` was removed in version 2.0.0 of this module.

You can try to use [`EMOJI_DATA`](https://carpedm20.github.io/emoji/docs/api.html#emoji.EMOJI_DATA) as a replacement for `UNICODE_EMOJI`. If you explain how you use `UNICODE_EMOJI` or show your code snippet, I can give you more specific help.

You can also downgrade the module version to `emoji~=1.6.3` and stay with the old

[2022-07-29 19:01] cvzi commented on #212
I did some quick tests with Chinese included and so far I have not found any issues, so I am positive that we can add it in the near future

[2022-07-29 19:05] mvitha commented on #221
Wow thank you so much for the prompt reply!

we are using this as part of an NLP script to identify emojis and remove string as part of text cleaning/preprocessing

code below:

[code]

[2022-07-29 19:48] cvzi commented on #221
You can use `emoji.emoji_list(str)` to get a list of all emoji in a string:
[code]
And you can use `emoji.replace_emoji(str, '')` to remove emoji from string (i.e. replace with empty string)
[code]

So something like this:
[code]

I can see in your code, that you have iterated over characters in a string (`char for char in word`) to find/remove the emoji. This works only for emoji that are one cha

[2022-07-29 19:55] mvitha commented on #221
This is brilliant. Thank you so much for this. Will implement and let you know how it all goes

[2022-07-29 21:24] lingvisa commented on #221
Hi, I have a similar question. If I want to check whether a string is an emoji or not, I tried:

[code]

But it says that emoji doesn't have the attribute "UNICODE_EMOJI_ENGLISH", but I saw it is defined in the code. Why is it that?

[2022-07-29 21:41] cvzi commented on #221
@lingvisa It was also removed in version 2.0.0 of the module. You can check like this now:
[code]

There is also a `is_emoji()` function already defined in the module, so you can simply do `emoji.is_emoji(your_text)`. It is defined here:
https://github.com/carpedm20/emoji/blob/c398e0c5ff6ceff08c7860078b242765f093f285/emoji/core.py#L279-L281

[2022-07-29 21:58] lingvisa commented on #221
That's awesome. Another question regarding the 'language' argument. Is emoji detection universal to all languages, or has something to do with a particular language? I tested the default English emoji in Chinese and it seems it can detect the emoji in Chinese text too. Can you explain a bit on the language argument?

[2022-07-29 22:15] cvzi commented on #221
@lingvisa For the detection the language argument is not used and the language of the text does not matter.

(In older versions of the module there were some differences depending on language but it is no longer the case)

Also the language argument only applies to the two functions `emojize()` and `demojize()`:
The language argument is only for converting emoji to `:emoji_name:` and the reverse `

[2022-07-29 23:41] lingvisa commented on #221
I see and thanks.

[2022-07-30 21:20] E-Aho opened #222 "2.0.0: No Emoji Regex anymore?"
Hey! Was wondering why the decision was made to remove the functionality of the get_regexp() method completely, instead of marking it deprecated or some other change?

It was breaking change, and a slightly odd choice to remove outright, but I'm sure there was a reason.

[2022-07-30 22:14] cvzi commented on #222
The regular expression was slow on Python 3.7 and became even slower with the following Python versions. In rare cases it failed to match emoji correctly. Internally the regular expression was therefore not used anymore.

It was then completely removed in this major version change from 1.x.y -> 2.0.0 (it was previously deprecated in 1.7.0). The module offers its own methods to find, replace and re

[2022-07-30 22:43] E-Aho commented on #222
I can understand the thinking with that.
I did use the get_regexp() function in a project I was working on, particularly for a process that required a regex pattern to work, but I can understand why this package made the choice to remove the function.

[2022-07-30 22:43] #222 closed

[2022-08-01 12:27] Fred-Wu opened #223 "AttributeError: module 'emoji' has no attribute 'get_emoji_regexp'"
I encountered this error after the recent update. Is there anyway to fix this?

[2022-08-01 12:35] Fred-Wu commented on #223
I just reverted to v1.7, and saw the deprecation message. With the new version, how can I achieve the following

[code]

[2022-08-01 12:39] cvzi commented on #223
If you want to find emoji in a string, you can use [emoji.emoji_list()](https://carpedm20.github.io/emoji/docs/api.html#emoji.emoji_list) as a replacement.

See https://github.com/carpedm20/emoji/issues/222#issuecomment-1200303280 and https://carpedm20.github.io/emoji/docs/#migrating-to-version-2-0-0 for more information

[2022-08-03 18:51] #195 closed

[2022-08-04 20:46] odebroqueville opened #224 "Unable to print a red heart!"
I'm using the latest emoji version from conda-forge, i.e. v1.7.0.

I tested the following python code:

[code]

RESULTS:

<img width="772" alt="Screenshot 2022-08-04 at 22 45 44" src="https://user-images.githubusercontent.com/4818315/182949363-4e8102d0-3568-4638-b6a1-d66f22c022b5.png">

[2022-08-04 21:47] cvzi commented on #224
Could you try what happens if you copy and paste the output to somewhere else. For example in your browser, e.g. post it here as a comment.
Or the other way, copy `❤️` from here and paste it into your terminal.

If it changes color, then your terminal just doesn't support these emoji yet.

[2022-08-05 15:03] odebroqueville commented on #224
Here is the output copied from my terminal in Visual Studio Code. Funny thing is all the colours work except red!

3.9.12 (main, Apr  5 2022, 01:53:17)
[Clang 12.0.0 ]
Python is 👍
I ❤️ Python
Python is fun 💛

<img width="651" alt="Screenshot 2022-08-05 at 16 57 31" src="https://user-images.githubusercontent.com/4818315/183104071-65ffad5c-9b08-452e-b91d-a2e61d00fc82.png">

And this is the result in

[2022-08-05 18:14] cvzi commented on #224
I don't know how this can be fixed either.

The red heart is "special". It is derived from the black heart (black heart has already existed in unicode before emoji).

The red heart has a text_type and an emoji_type. The other hearts are "normal" emoji, with only emoji_type.
(There are other emoji that have text_type and emoji_type though)

That means, the red heart is represented in unicode by U+2

[2022-08-05 19:05] odebroqueville commented on #224
In any case, thank you for helping me identify where the problem lies. Have a great weekend.

[2022-08-05 19:05] #224 closed

[2022-08-07 08:17] AliNajafi1998 opened #225 "Persian/Farsi Lanuage emoji support"
Hi,
I wanted to know if you want to support persian language or not?
if yes, I would like to work on it.

[2022-08-07 09:51] cvzi commented on #225
I have checked Arabic and there were some problems with the diacritics (NFC vs. NFD form) that would need to be solved. I think similar problem will happen with Persian.

You can try it by adding a new line with 'fa' here:
https://github.com/carpedm20/emoji/blob/c398e0c5ff6ceff08c7860078b242765f093f285/utils/get_codes_from_unicode_emoji_data_files.py#L210-L215

That will download the translations

[2022-08-07 10:31] AliNajafi1998 commented on #225
Great!

I will look at NFC and NFD forms as well, btw if you have some examples for those I would like to look at them.

[2022-08-07 11:08] cvzi commented on #225
The problem is that for example alef with hamza in unicode can be either a single character or two characters.
It can be alef character followed by hamza character (NFD - normalized form **D**ecomposed) or it can be one combined character (NFC - normalized form **C**omposed):
 أ `\u0627\u0654`
 أ `\u623`

Currently we can only detect an emoji name (`:name_with_alefhamza_أ:`) with the single-chara

[2022-08-07 11:55] AliNajafi1998 commented on #225
Got it!
I will try to resolve this issure for Arabic after checking Persian.

[2022-08-07 12:06] groodt opened #226 "PyPI wheel"
The benefits of wheels are well documented. See: https://pythonwheels.com/
This package is pure Python and publishing it as both source and as a wheel is simple.

Would you accept a PR to publish a wheel?

[2022-08-07 15:37] AliNajafi1998 commented on #225
Regarding ```hamza``` in Persian/Farsi. Actually, the Persian language has only 32 alphabets that you can check them here: [wikipedia](https://fa.wikipedia.org/wiki/%D8%A7%D9%84%D9%81%D8%A8%D8%A7%DB%8C_%D9%81%D8%A7%D8%B1%D8%B3%DB%8C).

![image](https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Persian_alphabet.gif/300px-Persian_alphabet.gif)

However, because Farsi and Arabic have lots of

[2022-08-07 15:42] AliNajafi1998 commented on #225
Even if you look at the written style of 🅿️ in [empji list](https://emojiterra.com/copypaste/fa/). There is no ```hamza```! :D

[2022-08-07 20:24] cvzi commented on #225
So it still feels natural to read without the hamza? It is not a problem to remove it? Does a Persian keyboard even have hamza on it?

(Because we don't have to remove it, I am sure I could solve it another way. I'll need to solve it anyway in the future if I want to add Arabic)

I can see 🅿️ is `دکمه پی` but 🆒 is with hamza `دکمهٔ COOL` ??
The hamza also appears in all the "japanese" buttons e.g.

[2022-08-07 21:18] AliNajafi1998 commented on #225
Yes, without hamza nothing gets changed. in Persian keyboard, yes it is available but people normally don't use it.
But I understand your concern about solving it without removing it.

yes, in buttons sometimes they are with hamza, and sometimes they are not, and there is no difference while reading it.

For Japanese buttons, I can see the RTL problem :/

[2022-08-07 22:45] cvzi commented on #225
Ok, I agree, let's remove hamza in Farsi.

I think the RTL problem is just because I used the github markdown code. I put it in a sentence in google translator and it seems ok:

[2022-08-07 22:48] cvzi commented on #225
I see another thing with the "Japanese buttons", they have quotations marks « and »:
[code]
Farsi would be: `:دکمه_«مقدار_ماهانه»_به_ژاپنی:` or `:دکمه_مقدار_ماهانه_به_ژاپنی:`

You have to decide if you want to remove the quotation marks in Farsi or keep them.

[2022-08-15 21:26] AliNajafi1998 commented on #225
I added Persian language and made a PR.

[2022-08-15 21:26] #225 closed

[2022-08-18 20:16] UAShota opened #228 "Python 3.10 / Pycharm 2022.1.3 Cannot find reference 'is_emoji' in '__init__.pyi'"
In pycharm this sample has error - Cannot find reference 'is_emoji' in '__init__.pyi'

import emoji

print(emoji.is_emoji("1"))

But code working, just ome bug :)

[2022-08-18 20:31] cvzi commented on #228
Maybe Pycharm uses an old version of typeshed. The data was just updated 21 days ago on typeshed, see https://github.com/python/typeshed/pull/8426

There is a description here on how to override it if it's outdated: https://www.jetbrains.com/help/pycharm/type-hinting-in-product.html#57fdfb39

[2022-08-18 20:36] #228 closed

[2022-08-30 10:47] hugovk commented on #30
Should this be closed now `get_emoji_regexp` has been removed in version 2.0?

https://carpedm20.github.io/emoji/docs/#regular-expression

[2022-09-01 20:34] bjmgeek commented on #221
Thanks. This worked.  I was trying to get a list of all emoji characters for the purpose of picking a random emoji.  I was using `random.choice(list(emoji.UNICODE_EMOJI.keys())`
I can modify my code to use `random.choice(list(emoji.EMOJI_DATA.keys()))`

[2022-09-16 13:10] groodt commented on #226
Any thoughts @TahirJalilov @cvzi ?

[2022-09-16 18:58] cvzi commented on #226
I am not involved in the packaging/publishing. I would agree though.

Looks like TahirJalilov hasn't been active on Github since the last release. I'll write him an email if he doesn't reply in the next few days.

[2022-09-17 20:42] TahirJalilov commented on #226
@groodt Hello, it's good idea, I will accept your PR

[2022-09-17 20:43] #223 closed

[2022-09-17 20:43] #221 closed

[2022-09-22 13:00] AliNajafi1998 opened #231 "Turkish Language"
Hi @cvzi,

I am trying to demojize the emojis for the Turkish language and based on your doc I added the Turkish language and I am using it; however, some emojis are missing.
For example,
`u'\U0001F3F4\U0000200D\U00002620\U0000FE0F'`  ->  🏴‍☠️
there is no Turkish equivalent text for that.
But there is tts for  `u'\U0001F3F4\U0000200D\U00002620'` -> 🏴‍☠

I am actually working with Twitter data so I

[2022-09-22 21:02] cvzi commented on #231
I will check it out. For these cases like 🏴‍☠️ - the same emoji with different codepoints -  we can probably use the translation of the other emoji easily.

In general the Turkish Unicode translation data may just be incomplete (I have not checked). I noticed that the Unicode translations lag behind the emoji releases for many languages.

----

Currently the untranslated emoji are skipped:
https:/

[2022-09-24 21:40] cvzi commented on #231
@AliNajafi1998 Could you upload the scraped data from Emojiterra? I would like to see what is still missing.
I saw that Emojiterra for example has all the flags/countries in Turkish but Unicode repository doesn't have any in Turkish. I wonder what else Emojiterra has.

[2022-09-24 22:29] cvzi commented on #231
A lot of the emoji that are not translated are the ones with components, that is skin color and hair color. For example: `:man_climbing_dark_skin_tone:` is not translated, but `:man_climbing:` is translated.
With `replace_emoji()` such an emoji could fallback to the translation of `:man_climbing:`:
[code]

[code]

[2022-09-25 19:50] jfreitas123 opened #232 "AttributeError someone can help me"
I've imported the library "emoji" to a code and appear this error

Traceback (most recent call last):
  File "C:\Users\jpf_l\PycharmProjects\CursoemVideo\aula 08\emoji.py", line 1, in <module>
    import emoji
  File "C:\Users\jpf_l\PycharmProjects\CursoemVideo\aula 08\emoji.py", line 2, in <module>
    print(emoji.emojize('Python is :thumbsup:', language='alias'))
AttributeError: partially initia

[2022-09-25 21:05] cvzi commented on #232
I think you have to change the name of your file. If the filename is `emoji.py` then `import emoji` may try to import the file `emoji.py` and not the library. Try something like `my_emoji.py`

[2022-09-25 21:20] jfreitas123 commented on #232
Thank you men, it worked!

[2022-09-26 07:21] AliNajafi1998 commented on #231
@cvzi
This is the code for scraping.
For merging, I just checked whether the emoji was in ```EMOJI_DATA``` and has "TR" or not.
[code]

[2022-09-26 07:32] AliNajafi1998 commented on #231
Good Idea, but for ```Ginger Person``` the meaning gets changed.
Thanks Again!

[2022-09-26 19:45] #232 closed

[2022-09-27 11:11] buhtzz opened #233 "How to know if my terminal can display emojis?"
I couldn't find that topic in the documentation.

Maybe it is not the job of your package itself. But maybe you have an idea or a hint how to solve that.

How can I test if the terminal my scripts runs in is able to display your emojis?

For example I often use SSH terminals including tmux; sometimes windows SSH client, sometimes a Linux terminal emu (which should be able to show the emojis).

[2022-09-27 13:17] fabiocaccamo opened #234 "Missing emojis."
Hello,
I'm printing on a webpage some texts taken from GitHub repositories that contains some emojis.

The emojis used are all supported by GitHub and present in this collection https://github.com/ikatyang/emoji-cheat-sheet but calling `emoji.emojize(text, language="alias")` on the texts I noticed that some emojis are missing, eg:

- :it: `:it:`
- :zombie_man: `:zombie_man:`

I know that these ali

[2022-09-27 14:28] cvzi opened #235 "Add support for Unicode Version 15"
[Unicode version 15.0.0](https://unicode.org/versions/Unicode15.0.0/) has been approved.

New emoji included:
https://emojipedia.org/emoji-15.0/

[2022-09-27 14:35] cvzi commented on #233
On Unix you can count the column length of printed characters with the [`wc`](https://manpages.org/wc) program (if the installed version supports the `-L` parameter):
[code]
This should print 0 for emoji that are not supported and > 0 for supported emoji. That way you could check all the emoji you want to use.

Whether you run a local script or a ssh session, should not matter. Except if the remot

[2022-09-27 14:48] buhtzz commented on #233
Nice approach. But didn't work. The result is always `1`. Checked that on Windows as SSH client using tmux on a Debian 11 and on an Xfce terminal (via RDP) on the same machine.

[2022-09-27 15:26] fabiocaccamo commented on #234
@cvzi thank you for the detailed explanation.

I partially solved my problem replacing `:zombie_man:` with `:zombie:`, but for the flag actually there is not solution, because GitHub doesn't show `:Italy:` and the `emoji` library doesn't show `:it:`.

[2022-09-28 09:40] TahirJalilov commented on #234
Hmm, it's very interesting. Maybe they were added to the https://www.webfx.com/tools/emoji-cheat-sheet/ after emoji package was created. Anyway, I think we should add all missing aliases.

[2022-09-28 10:02] fabiocaccamo commented on #234
@TahirJalilov how are updated emojis/aliases actually, manually or is there some script for doing it?

[2022-09-28 11:17] cvzi commented on #234
There is a script in `utils/get_codes_from_unicode_emoji_data_files.py` and manually is also possible, the script should keep manually added stuff intact.
Initially there wasn't a script, someone must have added the aliases by hand or with a private script. I am pretty sure the two-letter-codes have always been on the emoji-cheat-sheet, so someone must have decided not to add them.
Some time ago I

[2022-09-28 13:20] fabiocaccamo commented on #234
@cvzi maybe a cool improvement could be to automate emoji data updates running a GitHub action once a week/month. I did it once [here](https://github.com/fabiocaccamo/python-codicefiscale/blob/master/.github/workflows/update-data.yml), a script that writes some json files is executed, then the json files are pushed to the repo.

[2022-09-28 16:03] cvzi commented on #233
I thought this used to work, but thinking about it now, this `wc` program might just use a hard-coded Unicode table to calculate the column width, which would be useless if the font can't display the emoji-character.

I am not aware of another solution. I know in browsers they check the support for emoji by drawing the emoji and then inspecting the pixels to check if it was actually drawn. I don't

[2022-09-28 18:29] #233 closed

[2022-10-02 17:32] jfreitas123 opened #236 "Library problem. Someone can help me?"
I tried import math library and  others library and this error appear. "Unused import statement 'import math'". Someone can help me?
![WhatsApp Image 2022-10-02 at 14 32 10](https://user-images.githubusercontent.com/114361775/193467799-06efcda6-c646-4580-b4bd-1d82057c4ba6.jpeg)

my email: jp752749@gmail.com

[2022-10-05 09:18] cvzi commented on #234
I think at the moment it is not worth it.

New emojis are appearing only once a year at the moment (in the future probably less).
Translations appear maybe two or three times a year, but there is usually some manual work involved and they need to be checked and old translations might have to be removed by hand.

BTW we also have something similar in the repo https://github.com/carpedm20/emoji/blob

[2022-10-10 11:51] decaz opened #238 "DeprecationWarning: invalid escape sequence '\`'"
Environment:
- CPython 3.10.7
- emoji 2.1.0

[code]

[2022-10-10 13:49] cvzi commented on #238
I think this will be fixed by #237

[2022-10-13 20:56] #236 closed

[2022-10-24 22:45] El010 commented on #238
O meu ta com um erro semelhante

[2022-10-25 11:37] cvzi commented on #238
I looked into the warning, it is the docstring in this line:
https://github.com/carpedm20/emoji/blob/b27cf787deaec7cf8349aa3c3b6f5f9e9aca7378/emoji/core.py#L50
The `\` should probably be escaped, though I am unsure what's the proper way to escape it in a docstring.

But in pull request #237, I changed that line anyway and removed some chars including the `\` and the warning does not appear there.

[2022-10-31 13:35] #235 closed

[2022-10-31 21:58] kloczek commented on #216
Tested and it looks ok now
[code]
Thank you 👍

[2022-11-08 09:51] Shin-yue opened #240 "emoji.get_emoji_regexp"
how about that? emoji.get_emoji_regex I didn't find this

[2022-11-08 10:05] cvzi commented on #240
This function has been removed in version 2.0.0 of the module.
You can either use one of the alternative functions described here: https://carpedm20.github.io/emoji/docs/#regular-expression

Or use an older version of the module e.g. `pip install emoji==1.6.3`

[2022-11-08 15:51] Shin-yue commented on #240
THANKS!

[2022-11-13 06:58] masudtalukdar commented on #221
Thanks , Problem solved

[2022-11-14 15:31] #240 closed